@page
@model EtlManager.Pages.Jobs.SchedulesModel
@{
    ViewData["Title"] = "Schedules";
}

<h4>@Model.Job.JobName Schedules</h4>

<p />
<div>
    <a asp-page="Create" asp-route-id="@Model.Job.JobId">Create New</a>
</div>
<p/>
<table class="table">
    <thead>
        <tr>
            <th>
                Time
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Schedules)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeHours):@item.GetMinutesText()
            </td>
            <td>
                @if (item.Monday)
                {
                    <span class="badge badge-primary">Monday</span>
                }
                else
                {
                    <span class="badge badge-secondary">Monday</span>
                }
            </td>
            <td>
                @if (item.Tuesday)
                {
                    <span class="badge badge-primary">Tuesday</span>
                }
                else
                {
                    <span class="badge badge-secondary">Tuesday</span>
                }
            </td>
            <td>
                @if (item.Wednesday)
                {
                    <span class="badge badge-primary">Wednesday</span>
                }
                else
                {
                    <span class="badge badge-secondary">Wednesday</span>
                }
            </td>
            <td>
                @if (item.Thursday)
                {
                    <span class="badge badge-primary">Thursday</span>
                }
                else
                {
                    <span class="badge badge-secondary">Thursday</span>
                }
            </td>
            <td>
                @if (item.Friday)
                {
                    <span class="badge badge-primary">Friday</span>
                }
                else
                {
                    <span class="badge badge-secondary">Friday</span>
                }
            </td>
            <td>
                @if (item.Saturday)
                {
                    <span class="badge badge-primary">Saturday</span>
                }
                else
                {
                    <span class="badge badge-secondary">Saturday</span>
                }
            </td>
            <td>
                @if (item.Sunday)
                {
                    <span class="badge badge-primary">Sunday</span>
                }
                else
                {
                    <span class="badge badge-secondary">Sunday</span>
                }
            </td>
            <td>
                <form method="post">
                    <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Delete
                    </button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item" asp-page-handler="Delete" asp-route-id="@item.ScheduleId">Confirm</button>
                    </div>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <a asp-page="../Index">Back to Jobs</a>
</div>