@inject ToasterService Toaster
@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject DataflowClientFactory ClientFactory

<HxOffcanvas @ref="_offcanvas" Size="OffcanvasSize.Regular" Title="Select dataflow">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.Search" />
                    </div>
                    <input type="search" class="form-control form-control-sm"
                           placeholder="Search dataflows"
                           @bind-value="_filterText"
                           @bind-value:event="oninput" />
                </div>
            </div>
        </div>
        <div class="row mt-3" style="height: calc(100vh - 210px); overflow-y: scroll;">
            <div class="col">
                <div class="list-group">
                    @if (_dataflows is null)
                    {
                        <div class="list-group-item text-center">
                            <HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" />
                        </div>
                    }
                    else if (!_dataflows.Any())
                    {
                        <div class="list-group-item small">
                            No dataflows
                        </div>
                    }
                    else
                    {
                        var dataflows = _dataflows
                            .Where(x => string.IsNullOrEmpty(_filterText) ||
                                        x.DataflowName.ContainsIgnoreCase(_filterText))
                            .OrderBy(x => x.DataflowName)
                            .ToArray();
                        foreach (var dataflow in dataflows)
                        {
                            <div class="list-group-item list-group-item-action cursor-pointer @(dataflow == _selectedDataflow ? "fw-bold bg-body" : null)"
                                 @onclick="() => _selectedDataflow = dataflow">
                                <div class="row">
                                    <div class="col d-flex align-items-center small">
                                        <SvgIcon Icon="LucideIcon.Workflow" />
                                        &nbsp;
                                        <HighlightableText Text="@dataflow.DataflowName" PartToHighlight="@_filterText" />
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </BodyTemplate>

    <FooterTemplate>
        <HxButton Color="ThemeColor.Primary" CssClass="me-3" @onclick="SelectDatasetAsync"
                  Enabled="_selectedDataflow is not null">
            Select
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await _offcanvas.LetAsync(x => x.HideAsync())">
            Cancel
        </HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    [Parameter]
    public IEnumerable<AzureCredential>? AzureCredentials { get; set; }

    [Parameter]
    public EventCallback<Dataflow> OnDataflowSelected { get; set; }

    private HxOffcanvas? _offcanvas;
    private IReadOnlyList<Dataflow>? _dataflows;
    private Dataflow? _selectedDataflow;
    private string _filterText = "";

    private async Task SelectDatasetAsync()
    {
        if (_selectedDataflow is null)
        {
            return;
        }
        await OnDataflowSelected.InvokeAsync(_selectedDataflow);
        await _offcanvas.LetAsync(x => x.HideAsync());
    }

    public async Task ShowAsync(Guid fabricWorkspaceId)
    {
        _filterText = "";
        _dataflows = null;
        _selectedDataflow = null;
        await _offcanvas.LetAsync(x => x.ShowAsync());
        try
        {
            await using var context = await DbContextFactory.CreateDbContextAsync();
            var fabricWorkspace = await context.FabricWorkspaces
                .AsNoTrackingWithIdentityResolution()
                .Include(x => x.AzureCredential)
                .FirstAsync(x => x.FabricWorkspaceId == fabricWorkspaceId);
            var azureCredential = fabricWorkspace.AzureCredential;
            ArgumentNullException.ThrowIfNull(azureCredential);
            var client = ClientFactory.Create(azureCredential);
            _dataflows = await client.GetDataflowsAsync(fabricWorkspace.WorkspaceId);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error reading dataflows", ex.Message);
        }
    }
}