@using Microsoft.Fabric.Api.DataPipeline.Models
@using Microsoft.Fabric.Api.Notebook.Models
@using Microsoft.Fabric.Api.Core.Models

@inject ToasterService Toaster
@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject FabricWorkspaceClientFactory ClientFactory

<HxOffcanvas @ref="_offcanvas" Size="OffcanvasSize.Regular" Title="Select item">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.Search" />
                    </div>
                    <input type="search" class="form-control form-control-sm" placeholder="Search items"
                           @bind-value="_filterText" @bind-value:event="oninput" />
                </div>
            </div>
            <div class="col-auto">
                <FilterDropdown TItem="ItemType"
                                Items="ItemTypes"
                                FilterSet="_itemTypeFilter"
                                ShowPill="true"
                                OnChange="StateHasChanged">
                    <TitleTemplate>
                        Item type
                    </TitleTemplate>
                </FilterDropdown>
            </div>
        </div>
        <div class="row mt-3" style="height: calc(100vh - 210px); overflow-y: scroll;">
            <div class="col">
                <div class="list-group">
                    @if (_items is null)
                    {
                        <div class="list-group-item text-center">
                            <HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" />
                        </div>
                    }
                    else if (!_items.Any())
                    {
                        <div class="list-group-item small">
                            No items
                        </div>
                    }
                    else
                    {
                        var items = _items
                            .Where(x => string.IsNullOrEmpty(_filterText) ||
                                        x.DisplayName.ContainsIgnoreCase(_filterText))
                            .Where(x => _itemTypeFilter.Count == 0 || _itemTypeFilter.Contains(x.Type))
                            .OrderBy(x => x.DisplayName)
                            .ToArray();
                        
                        foreach (var item in items)
                        {
                            var icon = item switch
                            {
                                DataPipeline => LucideIcon.Pipeline,
                                Notebook => LucideIcon.Notebook,
                                _ => LucideIcon.CircleHelp
                            };
                            <div class="list-group-item list-group-item-action cursor-pointer @(item == _selectedItem?.Item ? "fw-bold bg-body" : null)"
                                 @onclick="() => SelectItem(item)">
                                <div class="row justify-content-between small">
                                    <div class="col d-flex align-items-center">
                                        <SvgIcon Icon="icon" />
                                        &nbsp;
                                        <HighlightableText Text="@item.DisplayName" PartToHighlight="@_filterText" />
                                    </div>
                                    <div class="col-auto d-flex align-items-center">
                                        @item.Type.ToString()
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </BodyTemplate>

    <FooterTemplate>
        <HxButton Color="ThemeColor.Primary" CssClass="me-3" @onclick="SelectItemAsync"
                  Enabled="_selectedItem is not null">
            Select
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await _offcanvas.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    [Parameter]
    public EventCallback<FabricItemSelectedResult> OnItemSelected { get; set; }
    
    private static readonly ItemType[] ItemTypes = [ItemType.DataPipeline, ItemType.Notebook];
    private readonly HashSet<ItemType> _itemTypeFilter = [];

    private HxOffcanvas? _offcanvas;
    private IReadOnlyList<Item>? _items;
    private FabricItemSelectedResult? _selectedItem;
    private string _filterText = "";

    private async Task SelectItemAsync()
    {
        if (_selectedItem is null)
        {
            return;
        }
        await OnItemSelected.InvokeAsync(_selectedItem);
        await _offcanvas.LetAsync(x => x.HideAsync());
    }

    private void SelectItem(Item item)
    {
        _selectedItem = new(item);
    }

    public async Task ShowAsync(Guid fabricWorkspaceId)
    {
        _filterText = "";
        _items = null;
        _selectedItem = null;
        await _offcanvas.LetAsync(x => x.ShowAsync());
        try
        {
            await using var context = await DbContextFactory.CreateDbContextAsync();
            var workspace = await context.FabricWorkspaces
                .AsNoTracking()
                .Include(x => x.AzureCredential)
                .FirstAsync(x => x.FabricWorkspaceId == fabricWorkspaceId);
            var credential = workspace.AzureCredential;
            ArgumentNullException.ThrowIfNull(credential);
            var client = ClientFactory.Create(credential);
            _items = await client.GetItemsAsync(workspace.WorkspaceId);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error reading Fabric items", ex.Message);
        }
    }
}