@using Biflow.ExecutorProxy.Core.FilesExplorer

<div class="list-group" style="height: calc(100vh - 210px); overflow-y: scroll;">
    @if (RootNodes is null)
    {
        <div class="list-group-item text-center">
            <HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" />
        </div>
    }
    else
    {
        foreach (var node in RootNodes)
        {
            <FileExplorerFolderListGroupItem Folder="node"
                                             ShowHidden="ShowHidden"
                                             SelectedFile="SelectedFile"
                                             FileExplorerDelegate="FileExplorerDelegate"
                                             OnFileSelected="OnFileSelected"
                                             ParentDepth="0" />
        }
    }
</div>

@code {
    [Parameter] public FileExplorerDelegate FileExplorerDelegate { get; set; } =
        (_, _) => Task.FromResult<IReadOnlyList<DirectoryItem>>([]);
    
    [Parameter] public IReadOnlyList<DirectoryItem>? RootNodes { get; set; }
    
    [Parameter] public DirectoryItem? SelectedFile { get; set; }
    
    [Parameter] public EventCallback<DirectoryItem> OnFileSelected { get; set; }
    
    [Parameter] public bool ShowHidden { get; set; }
}