@inject IMediator Mediator
@inject ToasterService Toaster

<HxModal @ref="_createModal"
         Title="Create new version snapshot"
         Size="ModalSize.Large"
         Scrollable="true"
         OnShown="() => _textInput.FocusAsync()">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <textarea @ref="_textInput" class="form-control form-control-sm"
                            @bind="_description" rows="5" placeholder="Version description"></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-auto">
                <label class="form-label">Property translation set</label>
                <select class="form-select form-select-sm"
                        @bind="_propertyTranslationSetId">
                    <option value="">None</option>
                    @if (PropertyTranslationSets != null)
                    {
                        foreach (var set in PropertyTranslationSets)
                        {
                            <option value="@set.PropertyTranslationSetId">@set.PropertyTranslationSetName</option>
                        }
                    }
                </select>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Success" OnClick="() => CreateVersionAsync(_propertyTranslationSetId)">
            Save
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" OnClick="CloseModal">
            Cancel
        </HxButton>
    </FooterTemplate>
</HxModal>

@code {
    [Parameter] public IList<PropertyTranslationSet>? PropertyTranslationSets { get; set; }
    [Parameter] public EventCallback<VersionProjection> OnVersionCreated { get; set; }
    
    private ElementReference _textInput;
    private HxModal? _createModal;
    private string? _description;
    private Guid? _propertyTranslationSetId;

    public Task ShowAsync() => _createModal.LetAsync(x => x.ShowAsync());
    
    private async Task CreateVersionAsync(Guid? propertyTranslationSetId)
    {
        try
        {
            var command = new CreateVersionCommand(_description, propertyTranslationSetId);
            var version = await Mediator.SendAsync(command);
            await _createModal.LetAsync(x => x.HideAsync());
            _description = null;
            await OnVersionCreated.InvokeAsync(version);
            _propertyTranslationSetId = null;
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error creating version", ex.Message);
        }
    }
    
    private Task CloseModal()
    {
        _propertyTranslationSetId = null;
        return _createModal.LetAsync(x => x.HideAsync());
    }
}