@inject IConfiguration Configuration
@inject IHxMessengerService Messenger
@inject IWebHostEnvironment WebHostEnvironment
@inject IDbContextFactory<EtlManagerContext> DbContextFactory
@inject IHttpClientFactory HttpClientFactory
@inject ITokenService TokenService

<HxModal @ref="Modal" Size="ModalSize.ExtraLarge" Scrollable="true" OnClosed="OnClosed" Title="Select function">

    <BodyTemplate>
        <div class="row">
            <div class="col-lg-4 form-group">
                <div class="input-group input-group-sm">
                    <label class="visually-hidden">Search</label>
                    <div class="input-group-prepend">
                        <div class="input-group-text rounded-left">
                            @((MarkupString)System.IO.File.ReadAllText(System.IO.Path.Combine(WebHostEnvironment.WebRootPath, "icons/feather/filter.svg")))
                        </div>
                    </div>
                    <input type="text" class="form-control" @bind-value="FilterText" @bind-value:event="oninput"
                           placeholder="Filter by name" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                Function name
                            </th>
                            <th>
                                Invoke url
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Functions is null)
                        {
                            <tr>
                                <td>Loading...</td>
                                <td></td>
                            </tr>
                        }
                        else if (Functions.Count == 0)
                        {
                            <tr>
                                <td>No functions</td>
                                <td></td>
                            </tr>
                        }
                        else
                        {
                            foreach (var function in Functions
                                .Where(function => function.FunctionName.ContainsIgnoreCase(FilterText))
                                .OrderBy(function => function.FunctionName))
                            {
                                <tr style="cursor: pointer;"
                                    @onclick="() => SelectedFunctionUrl = function.FunctionUrl"
                                    class="@(function.FunctionUrl == SelectedFunctionUrl ? "bg-light font-weight-bold" : null)">
                                    <td>@function.FunctionName</td>
                                    <td>@function.FunctionUrl</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            
        </div>
    </BodyTemplate>

    <FooterTemplate>
        <HxButton Color="ThemeColor.Primary" CssClass="ms-5" @onclick="SelectFunctionAsync"
                  Enabled="SelectedFunctionUrl is not null">
            Select
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" @onclick="async () => await Modal.HideAsync()">Cancel</HxButton>
    </FooterTemplate>
</HxModal>

@code {

    private HxModal Modal { get; set; } = null!;

    [Parameter]
    public Guid? FunctionAppId { get; set; }

    [Parameter]
    public EventCallback<string> OnFunctionSelected { get; set; }

    private List<(string FunctionName, string FunctionUrl)>? Functions { get; set; }

    private string? SelectedFunctionUrl { get; set; }

    private string FilterText { get; set; } = string.Empty;

    private async Task SelectFunctionAsync()
    {
        if (SelectedFunctionUrl is not null)
        {
            await OnFunctionSelected.InvokeAsync(SelectedFunctionUrl);
            await Modal.HideAsync();
        }
    }

    private void OnClosed()
    {
        Functions = null;
        SelectedFunctionUrl = null;
        FilterText = string.Empty;
    }

    public async Task ShowAsync()
    {
        await Modal.ShowAsync();
        if (FunctionAppId is null || FunctionAppId == Guid.Empty) return;
        try
        {
            Guid id = FunctionAppId ?? throw new ArgumentNullException(nameof(id), "Function App id cannot be null");
            using var context = DbContextFactory.CreateDbContext();
            var functionApp = await context.FunctionApps
                .AsNoTrackingWithIdentityResolution()
                .Include(fa => fa.AppRegistration)
                .FirstAsync(fa => fa.FunctionAppId == id);
            Functions = await functionApp.GetFunctionsAsync(HttpClientFactory.CreateClient(), TokenService);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error reading functions", ex.Message);
        }
    }

}
