@if (Parameter is not null)
{
    <td>
        <div class="input-group">
        <InputSelect class="form-select form-select-sm" @bind-Value="Parameter.ParameterValueType">
            @foreach (var type in Enum.GetValues(typeof(ParameterValueType)))
                {
                <option>@type</option>
                }
        </InputSelect>
    </div>
    </td>
    <td>
        @switch (Parameter?.ParameterValueType)
        {
            case ParameterValueType.Boolean:
                <div class="input-group">
                    <InputSelectBoolean class="form-select form-select-sm" @bind-Value="Parameter.ValueBoolean">
                        <option value="True">True</option>
                        <option value="False">False</option>
                    </InputSelectBoolean>
                </div>
                break;
            case ParameterValueType.Byte:
                <HxInputNumber InputSize="InputSize.Small" @bind-Value="Parameter.ValueByte" placeholder="Value"></HxInputNumber>
                break;
            case ParameterValueType.DateTime:
                <HxInputDate InputSize="InputSize.Small" @bind-Value="Parameter.ValueDateTime" placeholder="Value"></HxInputDate>
                break;
            case ParameterValueType.Decimal:
                <HxInputNumber InputSize="InputSize.Small" @bind-Value="Parameter.ValueDecimal" placeholder="Value"></HxInputNumber>
                break;
            case ParameterValueType.Double:
                <HxInputNumber InputSize="InputSize.Small" @bind-Value="Parameter.ValueDouble" placeholder="Value"></HxInputNumber>
                break;
            case ParameterValueType.Int16:
                <HxInputNumber InputSize="InputSize.Small" @bind-Value="Parameter.ValueInt16" placeholder="Value"></HxInputNumber>
                break;
            case ParameterValueType.Int32:
                <HxInputNumber InputSize="InputSize.Small" @bind-Value="Parameter.ValueInt32" placeholder="Value"></HxInputNumber>
                break;
            case ParameterValueType.Int64:
                <HxInputNumber InputSize="InputSize.Small" @bind-Value="Parameter.ValueInt64" placeholder="Value"></HxInputNumber>
                break;
            case ParameterValueType.SByte:
                <HxInputNumber InputSize="InputSize.Small" @bind-Value="Parameter.ValueSByte" placeholder="Value"></HxInputNumber>
                break;
            case ParameterValueType.Single:
                <HxInputNumber InputSize="InputSize.Small" @bind-Value="Parameter.ValueSingle" placeholder="Value"></HxInputNumber>
                break;
            case ParameterValueType.String:
                <HxInputText InputSize="InputSize.Small" @bind-Value="Parameter.ValueString" placeholder="Value"></HxInputText>
                break;
        }
    </td>
    
}

@code {
    [Parameter]
    public ParameterBase? Parameter { get; set; }
}
