@inject ToasterService Toaster

@typeparam TParameter where TParameter : DynamicParameter

@if (Parameter is not null)
{
    <td class="align-middle">
        <div class="form-check">
            <input type="checkbox"
                   class="form-check-input"
                   id="@_id"
                   checked=@Parameter.UseExpression
                   @bind-value:get="Parameter.UseExpression"
                   @bind-value:set="_ => Parameter.ToggleUseExpression(DefaultValueType)">
            <label class="form-check-label fw-normal" for="@_id">Dynamic</label>
        </div>
    </td>
    @if (Parameter.UseExpression)
    {
        <td>
            <div class="d-flex">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        Expression
                    </div>
                    <input type="text" class="form-control form-control-sm font-monospace" @bind-value="Parameter.Expression.Expression" />
                    <HxButton Color="ThemeColor.Secondary"
                              Size="ButtonSize.Small"
                              Outline="true"
                              OnClick="() => OnParameterEdit.InvokeAsync(Parameter)"
                              title="Edit">
                        <SvgIcon Icon="LucideIcon.Pen" />
                    </HxButton>
                    <HxButton Color="ThemeColor.Secondary"
                              Size="ButtonSize.Small"
                              Outline="true"
                              OnClick="() => TestEvaluate(Parameter)"
                              title="Test evaluate">
                        <SvgIcon Icon="LucideIcon.CircleCheck" />
                    </HxButton>
                </div>
            </div>
        </td>
    }
    else
    {
        @StaticEditTemplate
    }
}

@code {
    [Parameter, EditorRequired] public TParameter? Parameter { get; set; }

    [Parameter] public EventCallback<TParameter> OnParameterEdit { get; set; }

    [Parameter] public RenderFragment? StaticEditTemplate { get; set; }

    /// <summary>
    /// When toggling between a dynamic expression or a static value,
    /// the <see cref="DefaultValueType"/> will be the default type for static parameter values.
    /// Defaults to <see cref="ParameterValueType.String"/>.
    /// </summary>
    [Parameter] public ParameterValueType DefaultValueType { get; set; } = ParameterValueType.String;

    private readonly Guid _id = Guid.NewGuid();

    private async Task TestEvaluate(TParameter parameter)
    {
        try
        {
            var result = await parameter.EvaluateAsync();
            Toaster.AddInformation($"Evaluation result: {result}");
        }
        catch (Exception ex)
        {
            Toaster.AddError(ex.Message);
        }
    }
}
