@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IJSRuntime JS

<HxModal @ref="modal" Title="@(credential?.CredentialId == Guid.Empty ? "New credential" : "Edit credential")">
    <BodyTemplate>
        @if (credential is not null)
        {
            <NavigationLock ConfirmExternalNavigation OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
            <EditForm Model="credential" id="credential_edit_form" OnValidSubmit="SubmitApiKeyAsync">
                <div class="row">
                    <div class="col mx-3">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="row">
                            <div class="col">
                                <label class="form-label">Domain</label>
                                <div class="input-group input-group-sm">
                                    <InputText class="form-control form-control-sm" @bind-Value="credential.Domain"></InputText>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <label class="form-label">Username</label>
                                <div class="input-group input-group-sm">
                                    <InputText class="form-control form-control-sm" @bind-Value="credential.Username"></InputText>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <label class="form-label">Password</label>
                                <div class="input-group input-group-sm">
                                    <InputText class="form-control form-control-sm" @bind-Value="credential.Password" type="password"></InputText>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>
        }
    </BodyTemplate>
    <FooterTemplate>
        <HxSubmit form="credential_edit_form" Color="ThemeColor.Success">@(credential?.CredentialId == Guid.Empty ? "Create" : "Save")</HxSubmit>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await modal.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxModal>

@code {
    [Parameter] public EventCallback<Credential> OnCredentialSubmit { get; set; }

    private Credential? credential;
    private HxModal? modal;

    private async Task SubmitApiKeyAsync()
    {
        await OnCredentialSubmit.InvokeAsync(credential);
        await modal.LetAsync(x => x.HideAsync());
    }

    public async Task ShowAsync(Guid credentialId)
    {
        credential = null;
        await modal.LetAsync(x => x.ShowAsync());
        if (credentialId != Guid.Empty)
        {
            using var context = DbContextFactory.CreateDbContext();
            credential = await context.Credentials
                .AsNoTrackingWithIdentityResolution()
                .Include(c => c.ExeSteps).ThenInclude(s => s.Job)
                .Include(c => c.Connections)
                .FirstAsync(c => c.CredentialId == credentialId);
        }
        else
        {
            credential = new();
        }
    }

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var confirmed = await JS.InvokeAsync<bool>("confirm", "Discard unsaved changes?");
        if (!confirmed)
        {
            context.PreventNavigation();
        }
    }
}
