@inject IHxMessengerService Messenger
@inject IDbContextFactory<AppDbContext> DbContextFactory

<HxModal @ref="modal" Size="ModalSize.Large" Title="@(client?.QlikCloudClientId == Guid.Empty ? "New Qlik Cloud client" : "Edit " + client?.QlikCloudClientName)">
    <BodyTemplate>
        @if (client is not null)
        {
            <EditForm id="qlik_cloud_client_edit_form" Model="client" OnValidSubmit="SubmitAsync">
                <div class="row">
                    <div class="col mx-3">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div>
                            <label class="form-label">Client name</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <CxIcon Icon="FeatherIcon.Edit3" />
                                </div>
                                <InputText class="form-control" @bind-Value="client.QlikCloudClientName"></InputText>
                            </div>
                            
                        </div>

                        <div class="row mt-3">
                            <div class="col-lg">
                                <label class="form-label">Environment url</label>
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <CxIcon Icon="FeatherIcon.Link" />
                                    </div>
                                    <InputText class="form-control" @bind-Value="client.EnvironmentUrl"></InputText>
                                </div>
                                <div class="form-text">e.g. https://mycompany.eu.qlikcloud.com</div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-lg">
                                <label class="form-label">API key</label>
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <CxIcon Icon="FeatherIcon.Key" />
                                    </div>
                                    <InputTextArea class="form-control form-control-sm" rows="6" @bind-Value="client.ApiToken"></InputTextArea>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="TestConnectionAsync" Enabled="!testingConnection">
                                    Test connection
                                </HxButton>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                @if (connectionTestSuccess == true)
                                {
                                    <span class="badge bg-success">Success</span>
                                }
                                else if (connectionTestSuccess == false)
                                {
                                    <span class="badge bg-danger">Failed</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>
        }
    </BodyTemplate>
    <FooterTemplate>
        <HxSubmit form="qlik_cloud_client_edit_form" Color="ThemeColor.Success">@(client?.QlikCloudClientId == Guid.Empty ? "Add" : "Save")</HxSubmit>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await modal.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxModal>

@code {
    [Parameter]
    public EventCallback<QlikCloudClient> OnClientSubmit { get; set; }

    private HxModal? modal;
    private QlikCloudClient? client;
    private bool? connectionTestSuccess = null;
    private bool testingConnection = false;

    public async Task ShowAsync(Guid clientId)
    {
        client = null;
        await modal.LetAsync(x => x.ShowAsync());
        if (clientId != Guid.Empty)
        {
            using var context = await DbContextFactory.CreateDbContextAsync();
            client = await context.QlikCloudClients
                .AsNoTrackingWithIdentityResolution()
                .Include(c => c.Steps)
                .ThenInclude(s => s.Job)
                .FirstAsync(c => c.QlikCloudClientId == clientId);
        }
        else
        {
            client = new()
            {
                QlikCloudClientName = "",
                EnvironmentUrl = "",
                ApiToken = "",
                Steps = new List<QlikStep>()
            };
        }
    }

    private async Task TestConnectionAsync()
    {
        ArgumentNullException.ThrowIfNull(client);
        connectionTestSuccess = null;
        testingConnection = true;
        try
        {
            await client.TestConnectionAsync();
            connectionTestSuccess = true;
        }
        catch (Exception ex)
        {
            connectionTestSuccess = false;
            Messenger.AddError("Connection test failed", ex.Message);
        }
        testingConnection = false;
    }

    private async Task SubmitAsync()
    {
        await OnClientSubmit.InvokeAsync(client);
        await modal.LetAsync(x => x.HideAsync());
    }
}
