@inject ToasterService Toaster
@inject IMediator Mediator

<HxModal @ref="_modal" Title="Reset password" Scrollable="true" Size="ModalSize.Regular" OnClosed="OnClosed">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <h6>User:</h6>
                <span>@_username</span>
                <EditForm Model="_passwordModel" OnValidSubmit="UpdatePassword" id="reset_password_form" class="mt-3">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div>
                        <label class="form-label">New password</label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <SvgIcon Icon="FeatherIcon.Lock" />
                            </div>
                            <InputText class="form-control" type="password" @bind-Value="_passwordModel.Password"></InputText>
                        </div>
                    </div>
                    <div>
                        <label class="form-label">Confirm new password</label>
                        <div class="input-group">
                            <div class="input-group-text rounded-left">
                                <SvgIcon Icon="FeatherIcon.Key" />
                            </div>
                            <InputText class="form-control" type="password" @bind-Value="_passwordModel.ConfirmPassword"></InputText>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxSubmit form="reset_password_form" Color="ThemeColor.Success">Save</HxSubmit>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await _modal.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxModal>

@code {
    private HxModal? _modal;
    private string? _username;
    private PasswordModel _passwordModel = new();

    public async Task ShowAsync(string username)
    {
        _username = username;
        _passwordModel = new();
        if (_modal is not null)
        {
            await _modal.ShowAsync();
        }
    }

    private async Task UpdatePassword()
    {
        ArgumentNullException.ThrowIfNull(_username);

        if (!_passwordModel.Password.Equals(_passwordModel.ConfirmPassword))
        {
            Toaster.AddWarning("Warning", "The two passwords do not match");
            return;
        }

        try
        {
            await Mediator.SendAsync( new UpdateUserPasswordAdminCommand(_username, _passwordModel.Password));
            Toaster.AddSuccess("Success", "Password updated successfully");
            _passwordModel = new();
            if (_modal is not null)
            {
                await _modal.HideAsync();
            }
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error updating password", ex.Message);
        }
    }

    private void OnClosed() => _passwordModel = new();
}
