@inject IDbContextFactory<AppDbContext> DbFactory
@inject UserService UserService
@inject IHxMessengerService Messenger
@inject AuthenticationMethodResolver AuthenticationResolver

<PageTitle>Users | Biflow</PageTitle>

<div class="row">
    <div class="col-auto">
        <HxButton Color="ThemeColor.Success" OnClick="async () => await ShowEditModalAsync(null)" Enabled="users is not null" Spinner="false">
            Add user
        </HxButton>
    </div>
    <div class="col-auto">
        <div class="btn-toolbar" role="toolbar">
            <div class="input-group me-3">
                <div class="input-group-text">
                    <CxIcon Icon="FeatherIcon.Search" />
                </div>
                <input type="search" class="form-control" @bind-value="usernameFilter" @bind-value:event="oninput" placeholder="Search by username" style="max-width: 25rem;" />
            </div>
            <FilterDropdown ButtonSize="ButtonSize.Regular"
                            FilterSet="roleFilter"
                            Items="users?.SelectMany(u => u.Roles).Distinct().OrderBy(n => n)"
                            OnChange="StateHasChanged">
                <TitleTemplate>
                    Roles
                </TitleTemplate>
            </FilterDropdown>
        </div>
    </div>
</div>


<div class="row my-4">
    <div class="col">
        <ul class="list-group shadow-sm">
            @if (users is null)
            {
                <li class="list-group-item text-center"><HxSpinner Color="ThemeColor.Secondary" /></li>
            }
            else if (users.Count == 0)
            {
                <li class="list-group-item">No users</li>
            }
            else
            {
                var filteredUsers = users
                    .Where(u => string.IsNullOrEmpty(usernameFilter) || u.Username.ContainsIgnoreCase(usernameFilter))
                    .Where(u => !roleFilter.Any() || roleFilter.Any(r => u.Roles.Contains(r)))
                    .OrderBy(u => u.Username);
                foreach (var user in filteredUsers)
                {
                    <li class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col">
                                <HighlightableText Text="@user.Username" PartToHighlight="@usernameFilter" />
                            </div>
                            <div class="col-auto">
                                <HxButtonGroup>
                                    <HxButton Color="ThemeColor.None" CssClass="btn-auto" Size="ButtonSize.Small" aria-label="edit" @onclick="async () => await ShowEditModalAsync(user)" title="Edit user">
                                        <CxIcon Icon="FeatherIcon.Edit2" />
                                    </HxButton>

                                    @if (AuthenticationResolver.AuthenticationMethod == AuthenticationMethod.BuiltIn)
                                    {
                                        <HxButton Color="ThemeColor.None" CssClass="btn-auto" Size="ButtonSize.Small" aria-label="Change password" @onclick="() => resetPasswordModal.LetAsync(x => x.ShowAsync(user.Username))" title="Reset password">
                                            <CxIcon Icon="FeatherIcon.Key" />
                                        </HxButton>
                                    }

                                    <HxDropdownButtonGroup>
                                        <HxDropdownToggleButton Color="ThemeColor.None" CssClass="btn-auto" Size="ButtonSize.Small" aria-label="delete" title="Delete user">
                                            <CxIcon Icon="FeatherIcon.Trash2" />
                                        </HxDropdownToggleButton>
                                        <HxDropdownMenu>
                                            <HxDropdownHeader>Delete?</HxDropdownHeader>
                                            <HxDropdownItem @onclick="() => DeleteUser(user)">Confirm</HxDropdownItem>
                                        </HxDropdownMenu>
                                    </HxDropdownButtonGroup>
                                </HxButtonGroup>
                            </div>
                            <div class="col">
                                @user.Email
                            </div>
                            <div class="col">
                                @foreach (var role in user.Roles.OrderBy(r => r))
                                {
                                    var tag = new RoleTag(role);
                                    <TagComponent Tag="tag" CssClass="m-1" />
                                }
                            </div>
                            <div class="col">
                                Created on @user.CreatedDateTime.LocalDateTime
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>

<ResetPasswordModal @ref="resetPasswordModal" />

<UserEditModal @ref="userEditModal" OnUserSubmit="OnUserSubmit" />


@code {
    private readonly HashSet<string> roleFilter = [];

    private List<User>? users;
    private UserEditModal? userEditModal;
    private ResetPasswordModal? resetPasswordModal;
    private string usernameFilter = "";

    protected override async Task OnInitializedAsync()
    {
        using var context = await Task.Run(DbFactory.CreateDbContext);
        users = await context.Users
            .AsNoTrackingWithIdentityResolution()
            .OrderBy(user => user.Username)
            .ToListAsync();
    }

    private async Task DeleteUser(User user)
    {
        try
        {
            ArgumentNullException.ThrowIfNull(users);
            using var context = DbFactory.CreateDbContext();
            context.Users.Remove(user);
            await context.SaveChangesAsync();
            users.Remove(user);
        }
        catch (Exception)
        {
            Messenger.AddError("Error deleting user");
        }
    }

    private void OnUserSubmit(User user)
    {
        ArgumentNullException.ThrowIfNull(users);
        var existingUser = users.FirstOrDefault(u => u.UserId == user.UserId);
        if (existingUser is not null)
        {
            users.Remove(existingUser);
        }
        users.Add(user);
        users.Sort((u1, u2) => u1.Username.CompareTo(u2.Username));
    }

    private async Task ShowEditModalAsync(User? user)
    {
        await userEditModal.LetAsync(x => x.ShowAsync(user?.UserId));
    }

}
