@inherits StepEditModal<AgentJobStep>

<StepEditModalTemplate Modal="this" TStep="AgentJobStep">
    @if (Step is not null)
    {
        <div class="row gap-3 align-items-end">
            <div class="col-auto">
                <label class="form-label">Timeout (min) (0 = indefinite)</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.XOctagon" />
                    </div>
                    <InputNumber class="form-control form-control-sm" @bind-Value="Step.TimeoutMinutes" style="max-width: 10rem;"></InputNumber>
                </div>
            </div>
            <div class="col-auto">
                <label class="form-label">Connection</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Database" />
                    </div>
                    <InputSelect class="form-select form-select-sm" @bind-Value="Step.ConnectionId">
                        @foreach (var connection in Connections ?? Enumerable.Empty<SqlConnectionInfo>())
                        {
                            <option value="@connection.ConnectionId">@connection.ConnectionName</option>
                        }
                    </InputSelect>
                </div>
            </div>
            <div class="col-auto">
                <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="OpenAgentJobSelectOffcanvas">
                    <CxIcon Icon="FeatherIcon.MoreHorizontal" />
                    Browse Agent jobs
                </HxButton>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <label class="form-label">Agent job name</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Server" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.AgentJobName" style="max-width: 30rem;" />
                </div>
            </div>
        </div>
        <AgentJobSelectOffcanvas @ref="agentJobSelectOffcanvas" ConnectionId="Step.ConnectionId" OnAgentJobSelected="OnAgentJobSelected" />
    }
</StepEditModalTemplate>