@inherits StepEditModal<DatasetStep>

<StepEditModalTemplate Modal="this" TStep="DatasetStep">
    @if (Step is not null)
    {
        <div class="row gap-3 align-items-end">
            <div class="col-auto">
                <label class="form-label">App registration</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Globe" />
                    </div>
                    <InputSelect class="form-select form-select-sm" @bind-Value="Step.AppRegistrationId">
                        @foreach (var app in AppRegistrations ?? Enumerable.Empty<AppRegistration>())
                        {
                            <option value="@app.AppRegistrationId">@app.AppRegistrationName</option>
                        }
                    </InputSelect>
                </div>
            </div>
            <div class="col-auto">
                <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="OpenDatasetSelectOffcanvas">
                    <CxIcon Icon="FeatherIcon.MoreHorizontal" />
                    Browse datasets
                </HxButton>
            </div>
        </div>
        <div class="row mt-2 gap-3 gap-md-1">
            <div class="col">
                <label class="form-label">Group id</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Folder" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.DatasetGroupId" @oninput="ResetStepError"></InputText>
                </div>
            </div>
            <div class="col-md">
                <label class="form-label">Dataset id</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.File" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.DatasetId" @oninput="ResetStepError"></InputText>
                </div>
            </div>
        </div>
        <DatasetSelectOffcanvas @ref="DatasetSelectOffcanvas" AppRegistrationId="Step.AppRegistrationId" OnDatasetSelected="OnDatasetSelected" />
    }
</StepEditModalTemplate>