@inherits StepEditModal<ExeStep>

<StepEditModalTemplate Modal="this" TStep="ExeStep">
    @if (Step is not null)
    {
        <div class="row">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Timeout (min)</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.OctagonX" />
                    </div>
                    <InputNumber class="form-control form-control-sm" @bind-Value="Step.TimeoutMinutes" style="max-width: 5rem;"></InputNumber>
                </div>
                <span class="form-text">0 = indefinite</span>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">File path</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.File" />
                    </div>
                    <InputTextArea class="form-control form-control-sm" @bind-Value="Step.ExeFileName" rows="2"></InputTextArea>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Arguments</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.Command" />
                    </div>
                    <InputTextArea class="form-control form-control-sm" @bind-Value="Step.ExeArguments" rows="2"></InputTextArea>
                </div>
                <div class="form-text">
                    Arguments can be set dynamically during step execution using step parameters.
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Working directory</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.Folder" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.ExeWorkingDirectory"></InputText>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Success exit code</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.CircleCheck" />
                    </div>
                    <InputNumber class="form-control form-control-sm" @bind-Value="Step.ExeSuccessExitCode" style="max-width: 8rem;"></InputNumber>
                </div>
                <div class="form-text">Blank if not applicable</div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Run as</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.User" />
                    </div>
                    <InputSelect class="form-select form-select-sm" @bind-Value="Step.RunAsCredentialId">
                        <option value="">Executor service user</option>
                        @foreach (var cred in Credentials)
                        {
                            <option value="@cred.CredentialId">@cred.DisplayName</option>
                        }
                    </InputSelect>
                </div>
            </div>
        </div>

        <StepParametersEditor Step="Step"
                              NewParameterDelegate="() => new() { Step = Step }"
                              Title="Argument parameters"
                              InfoContent="@ParametersInfoContent" />
    }
</StepEditModalTemplate>