@inherits StepEditModalBase<JobStep>

<StepEditModalTemplate Modal="this" TStep="JobStep">
    @if (Step is not null)
    {
        <div class="row">
            <div class="col-lg-8">
                <HxAutosuggest Label="Job"
                               CssClass="input-group-sm"
                               TItem="Job"
                               TValue="Guid?"
                               DataProvider="GetJobSuggestions"
                               ValueChanged="id => Step.JobToExecuteId = id"
                               Value="Step.JobToExecuteId"
                               ValueExpression="() => Step.JobToExecuteId"
                               TextSelector="job => job.JobName"
                               ItemFromValueResolver="id => Task.FromResult(Jobs.First(j => j.JobId == id))"
                               ValueSelector="job => job.JobId"
                               MinimumLength="0"
                               ValidationMessageMode="ValidationMessageMode.None"
                               InputSize="InputSize.Small">
                    <ItemTemplate Context="item">
                        <small>@item.JobName</small><sup>@item.Category?.CategoryName</sup>
                    </ItemTemplate>
                    <InputGroupStartTemplate>
                        <div class="input-group-text">
                            <CxIcon Icon="FeatherIcon.Loader" />
                        </div>
                    </InputGroupStartTemplate>
                </HxAutosuggest>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="new_step_job_synchronized"
                           checked=@Step.JobExecuteSynchronized
                           @bind-value="Step.JobExecuteSynchronized">
                    <label class="form-check-label" for="new_step_job_synchronized">Synchronized</label>
                </div>
            </div>
        </div>
    }
</StepEditModalTemplate>