@inherits StepEditModal<PackageStep>

<StepEditModalTemplate Modal="this" TStep="PackageStep">
    @if (Step is not null)
    {
        <div class="row">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Timeout (min)</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="FeatherIcon.XOctagon" />
                    </div>
                    <InputNumber class="form-control form-control-sm" @bind-Value="Step.TimeoutMinutes" style="max-width: 5rem;"></InputNumber>
                </div>
                <span class="form-text">0 = indefinite</span>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex align-items-center justify-content-end">
                <label class="form-label mb-lg-0">Connection</label>
            </div>
            <div class="col-md-6 d-inline">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="FeatherIcon.Database" />
                    </div>
                    <InputSelect class="form-select form-select-sm" @bind-Value="Step.ConnectionId">
                        @foreach (var connection in MsSqlConnections ?? [])
                        {
                            <option value="@connection.ConnectionId">@connection.ConnectionName</option>
                        }
                    </InputSelect>
                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="OpenPackageSelectOffcanvas">
                        <SvgIcon Icon="FeatherIcon.MoreHorizontal" />
                        Browse catalog
                    </HxButton>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Folder name</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="FeatherIcon.Folder" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.PackageFolderName"></InputText>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Project name</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="FeatherIcon.Briefcase" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.PackageProjectName"></InputText>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Package name</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="FeatherIcon.Package" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.PackageName"></InputText>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-check-label mb-lg-0" for="new_step_32bit_mode">Execute in 32 bit mode</label>
            </div>
            <div class="col-md-6">
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="new_step_32bit_mode"
                           checked=@Step.ExecuteIn32BitMode
                           @bind-value="Step.ExecuteIn32BitMode">
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Execute as login</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="FeatherIcon.User" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.ExecuteAsLogin"></InputText>
                </div>
                <span class="form-text">blank = no impersonation</span>
            </div>
        </div>

        <PackageSelectOffcanvas @ref="packageSelectOffcanvas" OnPackageSelected="OnPackageSelected" />

        <PackageParametersEditor Step="Step" Connection="Connection" />
    }
</StepEditModalTemplate>