@inherits ParameterizedStepEditModal<PipelineStep>

<StepEditModalTemplate Modal="this" TStep="PipelineStep">
    @if (Step is not null)
    {
        <div class="row">
            <div class="col-lg-6">
                <label class="form-label">Timeout (min) (0 = indefinite)</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.XOctagon" />
                    </div>
                    <InputNumber class="form-control form-control-sm" @bind-Value="Step.TimeoutMinutes"></InputNumber>
                </div>
            </div>

        </div>
        <div class="row mt-2">
            <div class="col">
                <label class="form-label">Pipeline client</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Factory" />
                    </div>
                    <InputSelect class="form-select form-select-sm" @bind-Value="Step.PipelineClientId">
                        @foreach (var client in PipelineClients ?? Enumerable.Empty<PipelineClient>())
                        {
                            <option value="@client.PipelineClientId">@client.PipelineClientName</option>
                        }
                    </InputSelect>
                </div>
            </div>
            <div class="col-lg">
                <label class="form-label">Pipeline name</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Pipeline" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.PipelineName" @oninput="ResetStepError"></InputText>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <HxButtonGroup Size="ButtonGroupSize.Small">
                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="OpenPipelineSelectOffcanvas">
                        <CxIcon Icon="FeatherIcon.MoreHorizontal" />
                        Browse pipelines
                    </HxButton>
                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="ImportParametersAsync">
                        <CxIcon Icon="FeatherIcon.AtSign" />
                        Import parameters
                    </HxButton>
                </HxButtonGroup>
            </div>
        </div>
        <PipelineSelectOffcanvas @ref="PipelineSelectOffcanvas" PipelineClientId="Step.PipelineClientId" OnPipelineSelected="OnPipelineSelected" />
        <StepParameterEditComponent Step="Step" JobParameters="Job?.JobParameters" />
    }
</StepEditModalTemplate>