@inherits StepEditModal<PipelineStep>

<StepEditModalTemplate Modal="this" TStep="PipelineStep">
    @if (Step is not null)
    {
        <div class="row">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Timeout (min)</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.XOctagon" />
                    </div>
                    <InputNumber class="form-control form-control-sm" @bind-Value="Step.TimeoutMinutes" style="max-width: 5rem;"></InputNumber>
                </div>
                <span class="form-text">0 = indefinite</span>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex align-items-center justify-content-end">
                <label class="form-label mb-lg-0">Pipeline client</label>
            </div>
            <div class="col-md-6 d-inline">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="LucideIcon.Factory" />
                    </div>
                    <InputSelect class="form-select form-select-sm" @bind-Value="Step.PipelineClientId">
                        @foreach (var client in PipelineClients ?? Enumerable.Empty<PipelineClient>())
                        {
                            <option value="@client.PipelineClientId">@client.PipelineClientName</option>
                        }
                    </InputSelect>
                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="OpenPipelineSelectOffcanvas">
                        <CxIcon Icon="FeatherIcon.MoreHorizontal" />
                        Browse pipelines
                    </HxButton>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Pipeline name</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Pipeline" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.PipelineName"></InputText>
                </div>
            </div>
        </div>

        <PipelineSelectOffcanvas @ref="pipelineSelectOffcanvas" OnPipelineSelected="OnPipelineSelected" />
        <StepParameterEditComponent Step="Step" NewParameterDelegate="() => new() { Step = Step }" OnImportParameters="ImportParametersAsync" />
    }
</StepEditModalTemplate>