@inherits StepEditModal<QlikStep>

<StepEditModalTemplate Modal="this" TStep="QlikStep">
    @if (Step is not null)
    {
        <div class="row">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Timeout (min)</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.XOctagon" />
                    </div>
                    <InputNumber class="form-control form-control-sm" @bind-Value="Step.TimeoutMinutes" style="max-width: 5rem;"></InputNumber>
                </div>
                <span class="form-text">0 = indefinite</span>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex align-items-center justify-content-end">
                <label class="form-label mb-lg-0">Qlik Cloud client</label>
            </div>
            <div class="col-md-6 d-inline">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="LucideIcon.ScatterChart" />
                    </div>
                    <InputSelect class="form-select form-select-sm" @bind-Value="Step.QlikCloudClientId">
                        @foreach (var client in Clients ?? Enumerable.Empty<QlikCloudClient>())
                        {
                            <option value="@client.QlikCloudClientId">@client.QlikCloudClientName</option>
                        }
                    </InputSelect>
                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="OpenAppSelectOffcanvas">
                        <CxIcon Icon="FeatherIcon.MoreHorizontal" />
                        Browse apps
                    </HxButton>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">App id</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="LucideIcon.FilePieChart" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.AppId" @bind-Value:after="() => appName = string.Empty" />
                </div>
                <div class="form-text">
                    @if (appName is null)
                    {
                        <HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" />
                        <span>Loading app name...</span>
                    }
                    else
                    {
                        <span>@appName</span>
                    }
                </div>
            </div>
        </div>

        <AppSelectOffcanvas @ref="appSelectOffcanvas" OnAppSelected="OnAppSelected" QlikClients="QlikClients" />
    }
</StepEditModalTemplate>