@inherits StepEditModal<QlikStep>

<StepEditModalTemplate Modal="this" TStep="QlikStep">
    @if (Step is not null)
    {
        <div class="row gap-3 align-items-end">
            <div class="col-auto">
                <label class="form-label">Timeout (min) (0 = indefinite)</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.XOctagon" />
                    </div>
                    <InputNumber class="form-control form-control-sm" @bind-Value="Step.TimeoutMinutes" style="max-width: 10rem;"></InputNumber>
                </div>
            </div>
            <div class="col-auto">
                <label class="form-label">App registration</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="LucideIcon.ScatterChart" />
                    </div>
                    <InputSelect class="form-select form-select-sm" @bind-Value="Step.QlikCloudClientId">
                        @foreach (var client in Clients ?? Enumerable.Empty<QlikCloudClient>())
                        {
                            <option value="@client.QlikCloudClientId">@client.QlikCloudClientName</option>
                        }
                    </InputSelect>
                </div>
            </div>
            <div class="col-auto">
                <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="OpenAppSelectOffcanvas">
                    <CxIcon Icon="FeatherIcon.MoreHorizontal" />
                    Browse apps
                </HxButton>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">App id</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="LucideIcon.FilePieChart" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.AppId" @bind-Value:after="() => appName = string.Empty" />
                </div>
                <div class="form-text">
                    @if (appName is null)
                    {
                        <HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" />
                        <span>Loading app name...</span>
                    }
                    else
                    {
                        <span>@appName</span>
                    }
                </div>
            </div>
        </div>
        <AppSelectOffcanvas @ref="appSelectOffcanvas" OnAppSelected="OnAppSelected" />
    }
</StepEditModalTemplate>