@inherits StepEditModalBase<TabularStep>

<StepEditModalTemplate Modal="this" TStep="TabularStep">
    @if (Step is not null)
    {
        <div class="row">
            <div class="col-lg-6">
                <label class="form-label">Timeout (min) (0 = indefinite)</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.XOctagon" />
                    </div>
                    <InputNumber class="form-control form-control-sm" @bind-Value="Step.TimeoutMinutes"></InputNumber>
                </div>
            </div>
            <div class="col-lg-6">
                <label class="form-label">Connection</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Database" />
                    </div>
                    <InputSelect class="form-select form-select-sm" @bind-Value="Step.ConnectionId">
                        @foreach (var connection in AsConnections ?? Enumerable.Empty<AnalysisServicesConnectionInfo>())
                        {
                            <option value="@connection.ConnectionId">@connection.ConnectionName</option>
                        }
                    </InputSelect>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <label class="form-label">Model name</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Box" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.TabularModelName" @oninput="ResetStepError" />
                </div>
                <div class="form-text">Required</div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <label class="form-label">Table name</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.Table" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.TabularTableName" @oninput="ResetStepError" />
                </div>
                <div class="form-text">Blank if not applicable. Required if partition name is defined.</div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <label class="form-label">Partition name</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <CxIcon Icon="FeatherIcon.PieChart" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.TabularPartitionName" @oninput="ResetStepError" />
                </div>
                <div class="form-text">Blank if not applicable</div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="async () => await Offcanvas.LetAsync(x => x.ShowAsync())">
                    <CxIcon Icon="FeatherIcon.MoreHorizontal" />
                    Browse objects
                </HxButton>
            </div>
        </div>
        <AnalysisServicesObjectSelectOffcanvas @ref="Offcanvas" ConnectionId="Step.ConnectionId" OnObjectSelected="OnAnalysisServicesObjectSelected" />
    }
</StepEditModalTemplate>