@inherits StepEditModal<TabularStep>

<StepEditModalTemplate Modal="this" TStep="TabularStep">
    @if (Step is not null)
    {
        <div class="row">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Timeout (min)</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="FeatherIcon.XOctagon" />
                    </div>
                    <InputNumber class="form-control form-control-sm" @bind-Value="Step.TimeoutMinutes" style="max-width: 5rem;"></InputNumber>
                </div>
                <span class="form-text">0 = indefinite</span>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex align-items-center justify-content-end">
                <label class="form-label mb-lg-0">Connection</label>
            </div>
            <div class="col-md-6 d-inline">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="FeatherIcon.Database" />
                    </div>
                    <InputSelect class="form-select form-select-sm" @bind-Value="Step.ConnectionId">
                        @foreach (var connection in AsConnections)
                        {
                            <option value="@connection.ConnectionId">@connection.ConnectionName</option>
                        }
                    </InputSelect>
                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" @onclick="async () => await _offcanvas.LetAsync(x => x.ShowAsync(Step?.ConnectionId))">
                        <SvgIcon Icon="FeatherIcon.MoreHorizontal" />
                        Browse models
                    </HxButton>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Model name</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="FeatherIcon.Box" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.TabularModelName" />
                </div>
                <div class="form-text">Required</div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Table name</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="FeatherIcon.Table" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.TabularTableName" />
                </div>
                <div class="form-text">Blank if the entire model should be processed. Required if partition name is defined.</div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Partition name</label>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="FeatherIcon.PieChart" />
                    </div>
                    <InputText class="form-control form-control-sm" @bind-Value="Step.TabularPartitionName" />
                </div>
                <div class="form-text">Blank if the entire model or table should be processed.</div>
            </div>
        </div>

        <AnalysisServicesObjectSelectOffcanvas @ref="_offcanvas" OnObjectSelected="OnAnalysisServicesObjectSelected" />
    }
</StepEditModalTemplate>