@using Microsoft.Extensions.Configuration
@using Biflow.Ui.Components

@inject IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Biflow</title>
    <link rel="stylesheet" href="~/css/bootstrap.custom.min.css" />
    
    @*Added in order to prerender and integrate ASP.NET Core Razor components*@
    <base href="~/" />
    <component type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)"
               render-mode="ServerPrerendered" />
</head>
<body class="bg-body">
    <header>
        <nav class="navbar navbar-custom sticky-top flex-md-nowrap p-0 shadow bg-gradient-primary">
            <span class="navbar-brand ps-4 py-2 fs-4">
                <img src="/images/vanamo_small.svg" style="width: 35px; height: 35px;" />
                &nbsp;&nbsp;
                <span class="fw-semibold">vanamo</span> data orchestrator
            </span>
            <div class="ms-auto dropdown">
                <button class="btn text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="theme-toggle-dropdown-icon d-none" id="theme_dropdown_icon_light">
                        <component type="typeof(CxIcon)" render-mode="ServerPrerendered" param-Icon="FeatherIcon.Sun" />
                    </span>
                    <span class="theme-toggle-dropdown-icon d-none" id="theme_dropdown_icon_dark">
                        <component type="typeof(CxIcon)" render-mode="ServerPrerendered" param-Icon="FeatherIcon.Moon" />
                    </span>
                    <span class="theme-toggle-dropdown-icon d-none" id="theme_dropdown_icon_auto">
                        <component type="typeof(CxIcon)" render-mode="ServerPrerendered" param-Icon="LucideIcon.Contrast" />
                    </span>
                </button>
                <ul class="dropdown-menu shadow">
                    <li class="dropdown-header h6">
                        Theme
                    </li>
                    <li class="dropdown-item" role="button" data-bs-theme-value="light">
                        <component type="typeof(CxIcon)" render-mode="ServerPrerendered" param-Icon="FeatherIcon.Sun" />
                        Light
                    </li>
                    <li class="dropdown-item" role="button" data-bs-theme-value="dark">
                        <component type="typeof(CxIcon)" render-mode="ServerPrerendered" param-Icon="FeatherIcon.Moon" />
                        Dark
                    </li>
                    <li class="dropdown-item" role="button" data-bs-theme-value="auto">
                        <component type="typeof(CxIcon)" render-mode="ServerPrerendered" param-Icon="LucideIcon.Contrast" />
                        Auto
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav">
                <li>
                    <strong class="navbar-text px-3">
                        @(Configuration.GetValue<string>("EnvironmentName"))
                    </strong>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/theme.js"></script>
    <script src="_framework/blazor.server.js"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            addThemeToggleListeners();
        });
    </script>
</body>
</html>