
<PageTitle>@Job?.JobName | Settings | Biflow</PageTitle>

<div class="row">
    <div class="col-auto">
        <ul class="nav flex-column nav-pills" style="gap: 0.2rem;">
            <li class="nav-item">
                <NavLink class="nav-link" href="@($"jobs/{Job?.JobId}/settings/general")">
                    <SvgIcon Icon="FeatherIcon.Info" />
                    &nbsp;
                    General
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="@($"jobs/{Job?.JobId}/settings/executionmode")">
                    <SvgIcon Icon="FeatherIcon.Tool" />
                    &nbsp;
                    Execution mode
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="@($"jobs/{Job?.JobId}/settings/concurrency")">
                    <SvgIcon Icon="FeatherIcon.Sliders" />
                    &nbsp;
                    Concurrency
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="@($"jobs/{Job?.JobId}/settings/syncdependencies")">
                    <SvgIcon Icon="FeatherIcon.RefreshCw" />
                    &nbsp;
                    Sync dependencies
                </NavLink>
            </li>
        </ul>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                @switch (Page)
                {
                    case "general":
                        <GeneralSettings />
                        break;
                    case "executionmode":
                        <ExecutionSettings />
                        break;
                    case "concurrency":
                        <ConcurrencySettings />
                        break;
                    case "syncdependencies":
                        <DependenciesSynchronizer />
                        break;
                    default:
                        <span>No component to display</span>
                        break;
                }
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] public Job? Job { get; set; }

    [Parameter] public string? Page { get; set; }
}
