
.list-group-item-action.step-item-disabled {
    background-color: var(--bs-list-group-action-hover-bg);
}

.list-group-item-action a {
    text-decoration: none;
}

.list-group-item-action:hover a {
    text-decoration: underline;
}

/*This css can be enabled to handle virtualized item list styling taking into account spacer element*/
/*.steps-list li:nth-child(2) {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.steps-list li:nth-last-child(2) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}*/