@inject StepsDuplicatorFactory factory
@inject IHxMessengerService messenger

<HxOffcanvas @ref="offcanvas" Size="OffcanvasSize.Small" Title="Copy steps" Backdrop="OffcanvasBackdrop.False">
    <BodyTemplate>
        @if (currentJob is not null)
        {
            <div class="row">
                <div class="col">
                    <label class="form-label">Target job</label>
                    <select class="form-select" @bind="targetJobId">
                        @foreach (var category in JobCategories)
                        {
                            <optgroup label="@(category?.CategoryName ?? "No category")">
                                @foreach (var job in Jobs.Where(j => j.CategoryId == category?.CategoryId).OrderBy(j => j.JobName))
                                {
                                    var jobName = job.JobId == currentJob?.JobId ? $"{job.JobName} (this)" : job.JobName;
                                    <option value="@job.JobId">
                                        @jobName
                                    </option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <table class="table table-sm">
                        <thead>
                            <tr><th>Steps</th></tr>
                        </thead>
                        <tbody>
                            @foreach (var step in steps.OrderBy(s => s.StepName))
                            {
                                <tr>
                                    <td>
                                        <StepTypeIconComponent StepType_="step.StepType" />
                                        &nbsp;
                                        @step.StepName
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Success" Enabled="steps.Any()" OnClick="CopyAsync">
            Copy
        </HxButton>
        <HxButton CssClass="ms-3" Color="ThemeColor.Secondary" OnClick="() => offcanvas.LetAsync(x => x.HideAsync())">
            Cancel
        </HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    [Parameter] public EventCallback<IEnumerable<Step>> OnStepsCopied { get; set; }

    [Parameter] public IEnumerable<Job> Jobs { get; set; } = Enumerable.Empty<Job>();

    private HxOffcanvas? offcanvas;
    private Job? currentJob;
    private Guid targetJobId;
    private IEnumerable<Step> steps = Enumerable.Empty<Step>();

    private IEnumerable<JobCategory?> JobCategories => Jobs
        .Select(j => j.Category)
        .Distinct()
        .OrderBy(c => c is null)
        .ThenBy(c => c?.CategoryName);

    public async Task ShowAsync(Job currentJob, IEnumerable<Step> steps)
    {
        this.currentJob = currentJob;
        targetJobId = currentJob.JobId;
        this.steps = steps;
        await offcanvas.LetAsync(x => x.ShowAsync());
    }

    private async Task CopyAsync()
    {
        try
        {
            var stepIds = steps.Select(s => s.StepId).ToArray();
            var duplicator = await factory.CreateAsync(stepIds, targetJobId);
            if (targetJobId == currentJob?.JobId)
            {
                foreach (var step in duplicator.Steps)
                {
                    step.StepName = $"{step.StepName} – Copy";
                }
            }
            var copies = await duplicator.SaveStepsAsync();
            messenger.AddInformation("Step(s) copied successfully");
            await OnStepsCopied.InvokeAsync(copies);
            await offcanvas.LetAsync(x => x.HideAsync());
        }
        catch (Exception ex)
        {
            messenger.AddError("Error copying steps", ex.Message);
        }
    }
}
