<div class="row my-3">
    <div class="col d-flex justify-content-center">
        <div class="card d-flex justify-content-center w-100" style="max-width: 60rem;">
            <div class="card-body mx-auto py-3" style="max-width: 50rem;">
                <h5>Version snapshots</h5>
                <p>
                    Environment versions are point-in-time snapshots of the environment configuration stored as a single JSON object. Creating these snapshots enables
                    <ol>
                        <li>capturing and storing previous states of the environment</li>
                        <li>comparing changes between two different versions</li>
                        <li>reverting to a previous version/state.</li>
                    </ol>
                    These environment snapshots provide a simplified yet convenient version management system where changes can be undone by reverting to another version.
                </p>
                <HxAlert Color="ThemeColor.Secondary" CssClass="small">
                    <strong>Note: </strong> Environment snapshots do not replace or make redundant the need for regular application database backups. It is highly recommended to have database level backup routines in place as with any system or application. Environment snapshots are meant to be a feature and tool for application users to more easily move between environment configurations without resorting to full database restore operations, and thus it should not be considered a data security feature as such.
                </HxAlert>
                <h5>Snapshot contents</h5>
                <p>
                    The following entity types are stored in the snapshot JSON object:
                    <ul>
                        <li>
                            Settings
                            <ul>
                                <li>Connections</li>
                                <li>Credentials</li>
                                <li>App registrations</li>
                                <li>Pipeline clients</li>
                                <li>Function apps</li>
                                <li>Qlik Cloud clients</li>
                                <li>Blob storage clients</li>
                            </ul>
                        </li>
                        <li>Jobs (incl. steps, parameters etc.)</li>
                        <li>Schedules</li>
                        <li>Data objects</li>
                        <li>Tags</li>
                        <li>Data tables</li>
                    </ul>
                </p>
                <p>
                    As the snapshot JSON can also be backed up in version control systems such as git, <strong>the following sensitive string values are not included in the snapshot</strong>:
                    <ul>
                        <li>App registration client secrets</li>
                        <li>Connection strings (when containing passwords)</li>
                        <li>Credential passwords</li>
                        <li>Function app keys</li>
                        <li>Function step keys</li>
                        <li>Qlik Cloud API tokens</li>
                        <li>Blob storage client connection strings</li>
                        <li>Blob storage client account urls (when containining signatures)</li>
                    </ul>
                    When reverting to another version, <strong>sensitive values from the current version are carried over to the reverted version for matching objects</strong>. This makes it possible to at least in part retain some sensitive values across version reverts.
                </p>
                <p>
                    The following entity types are not included in the snapshot:
                    <ul>
                        <li>
                            Users
                            <ul>
                                <li>Job authorizations</li>
                                <li>Data table authorization</li>
                                <li>Subscriptions</li>
                            </ul>
                        </li>
                        <li>API keys</li>
                        <li>Execution history</li>
                    </ul>
                </p>
                <h5>Snapshot variants</h5>
                <p>
                    When creating an environment version snapshot, two variants of the JSON snapshot are generated and stored at the same time in the application database:
                    <ul>
                        <li>
                            simplified JSON
                            <ul>
                                <li>easier for humans to read</li>
                                <li>recommended for diff comparisons</li>
                            </ul>
                        </li>
                        <li>
                            JSON with object references preserved
                            <ul>
                                <li>harder for humans to read</li>
                                <li>includes additional metadata properties (<span class="font-monospace">$id</span>, <span class="font-monospace">$ref</span> and <span class="font-monospace">$values</span>) that add complexity and reduce readability</li>
                            </ul>
                        </li>
                    </ul>
                    Both contain the full set of entities included in the snapshot, but <strong>only the one preserving object references can be used when reverting to a previous snapshot</strong>. Both files can be exported and downloaded as a single compressed .zip file in the versions management page of the app.
                </p>
                <h5>External version control</h5>
                <p>
                    If you are downloading and storing the snapshots also in an external version control system, such as git, it is recommended to store and track both files. The simplified version can be used to more easily reason about diffs between commits. The version with object references, on the other hand, can be used to revert the environment if needed.
                </p>
                <h5>Reverting</h5>
                <p>
                    When reverting to a previous version stored in the application database, the snapshot with references preserved is automatically used. If reverting to a snapshot provided by manually uploading a snapshot JSON file, please ensure the one with references is being uploaded.
                </p>
            </div>
        </div>
    </div>
</div>