<div class="row my-3">
    <div class="col" style="max-width: 50rem;">
        <div class="card shaodw-sm">
            <div class="card-body">
                <p>
                    Environment versions are point-in-time snapshots of the environment configuration stored as a single JSON object. Creating these snapshots enables
                    <ol>
                        <li>capturing and storing previous states of the environment</li>
                        <li>comparing changes between two different versions</li>
                        <li>reverting to a previous version/state.</li>
                    </ol>
                    These environment snapshots provide a simplified yet convenient version management system where changes can be undone by reverting to another version.
                </p>
                <p>
                    The following entity types are stored in the snapshot JSON object:
                    <ul>
                        <li>
                            Settings
                            <ul>
                                <li>Connections</li>
                                <li>Credentials</li>
                                <li>App registrations</li>
                                <li>Pipeline clients</li>
                                <li>Function apps</li>
                                <li>Qlik Cloud clients</li>
                                <li>Blob storage clients</li>
                            </ul>
                        </li>
                        <li>Jobs (incl. steps, parameters etc.)</li>
                        <li>Schedules</li>
                        <li>Data objects</li>
                        <li>Tags</li>
                        <li>Data tables</li>
                    </ul>
                </p>
                <p>
                    As the snapshot JSON can also be backed up in version control systems such as git, the following sensitive string values are not included in the snapshot:
                    <ul>
                        <li>App registration client secrets</li>
                        <li>Connection strings (when containing passwords)</li>
                        <li>Credential passwords</li>
                        <li>Function app keys</li>
                        <li>Function step keys</li>
                        <li>Qlik Cloud API tokens</li>
                        <li>Blob storage client connection strings</li>
                        <li>Blob storage client account urls (when containining signatures)</li>
                    </ul>
                    When reverting to another version, sensitive values from the current version are carried over to the reverted version for matching objects. This makes it possible to at least in part retain some sensitive values across version reverts.
                </p>
                <p>
                    The following entity types are not included in the snapshot:
                    <ul>
                        <li>
                            Users
                            <ul>
                                <li>Job authorizations</li>
                                <li>Data table authorization</li>
                                <li>Subscriptions</li>
                            </ul>
                        </li>
                        <li>API keys</li>
                        <li>Execution history</li>
                    </ul>
                </p>
                <p>
                    The snapshot JSON is serialized with .NET System.Text.Json. The serialization and deserialization of the snapshot relies on preserving object references, which affects the readability of the produced JSON and may make it harder to deserialize for serializers other than System.Text.Json.
                    <br/>
                    <a href="https://learn.microsoft.com/en-us/dotnet/standard/serialization/system-text-json/preserve-references">Preserve references in System.Text.Json</a>
                </p>
            </div>
        </div>
    </div>
</div>