@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IMediator Mediator
@inject ToasterService Toaster

@if (editJob is not null)
{
    <EditForm Model="editJob" OnValidSubmit="UpdateJob" Context="_context">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div>
            <label class="form-label">Name</label>
            <div class="input-group">
                <div class="input-group-text">
                    <SvgIcon Icon="FeatherIcon.Edit3" />
                </div>
                <InputText class="form-control" @bind-Value="editJob.JobName" autocomplete="off" style="max-width: 50rem;"></InputText>
            </div>
        </div>
        <div style="max-width: 50rem;">
            <label class="form-label">Tags</label>
            <TagInput TTag="JobTag"
                      Items="allTags"
                      AllowCustomValues
                      SelectedItems="editJob.Tags"
                      NewItemFromText="text => new JobTag(text) { Color = TagColor.DarkGray }" />
        </div>
        <div>
            <label class="form-label">Description</label>
            <div class="input-group">
                <div class="input-group-text">
                    <SvgIcon Icon="FeatherIcon.BookOpen" />
                </div>
                <InputTextArea class="form-control form-control-sm" @bind-Value="editJob.JobDescription" rows="5" style="max-width: 50rem;"></InputTextArea>
            </div>
        </div>
        <div>
            <label class="form-label">Timeout (min, 0 = indefinite)</label>
            <div class="input-group">
                <div class="input-group-text">
                    <SvgIcon Icon="FeatherIcon.XOctagon" />
                </div>
                <InputNumber class="form-control form-control-sm" style="max-width: 10rem;" @bind-Value="editJob.TimeoutMinutes"></InputNumber>
            </div>
            <div class="form-text">If the job's execution exceeds the timeout limit, the execution will be stopped in its entirety.</div>
        </div>
        <div>
            <label class="form-label">Overtime notification limit (min, 0 = indefinite)</label>
            <div class="input-group">
                <div class="input-group-text">
                    <SvgIcon Icon="FeatherIcon.Bell" />
                </div>
                <InputNumber class="form-control form-control-sm" style="max-width: 10rem;" @bind-Value="editJob.OvertimeNotificationLimitMinutes"></InputNumber>
            </div>
            <div class="form-text">If the job's execution exceeds the overtime limit, an email is automatically sent to users who have subscribed to this job's overtime notifications.</div>
        </div>
        <div class="row">
            <div class="col">
                <HxSubmit Color="ThemeColor.Success">
                    <SvgIcon Icon="FeatherIcon.Save" />
                    Save
                </HxSubmit>
            </div>
        </div>
    </EditForm>
}

@code {
    [CascadingParameter] Job? Job { get; set; }

    [CascadingParameter(Name = "OnJobUpdated")] public Action<Job>? OnJobUpdated { get; set; }

    private Job? editJob;
    private IEnumerable<JobTag> allTags = [];

    protected override async void OnParametersSet()
    {
        if (Job is null || Job.JobId == Guid.Empty)
        {
            return;
        }

        using var context = await DbContextFactory.CreateDbContextAsync();
        allTags = await context.JobTags.OrderBy(t => t.TagName).ToArrayAsync();
        editJob = await context.Jobs
            .AsNoTrackingWithIdentityResolution()
            .Include(j => j.Tags)
            .FirstAsync(j => j.JobId == Job.JobId);
        StateHasChanged();
    }

    private async Task UpdateJob()
    {
        try
        {
            ArgumentNullException.ThrowIfNull(editJob);
            await Mediator.SendAsync(new UpdateJobCommand(editJob));
            Toaster.AddSuccess("Job settings saved successfully");
            OnJobUpdated?.Invoke(editJob);
        }
        catch (DbUpdateConcurrencyException)
        {
            Toaster.AddError("Concurrency error", "The job was modified outside of this session. Reload the page to view the most recent values.");
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error updating job", ex.Message);
        }
    }
}
