@inherits StepEditModal<DatasetStep>

<StepEditModalTemplate Modal="this" TStep="DatasetStep">
    @if (Step is not null)
    {
        <div class="row mt-3">
            <div class="col-md-4 d-md-flex align-items-center justify-content-end">
                <label class="form-label mb-lg-0">Fabric workspace</label>
            </div>
            <div class="col-md-6 d-inline">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.Globe" />
                    </div>
                    <InputSelect class="form-select form-select-sm" @bind-Value="Step.FabricWorkspaceId">
                        @foreach (var workspace in Integrations.FabricWorkspaces)
                        {
                            <option value="@workspace.FabricWorkspaceId">@workspace.FabricWorkspaceName</option>
                        }
                    </InputSelect>
                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto"
                              @onclick="OpenDatasetSelectOffcanvas">
                        <SvgIcon Icon="LucideIcon.Ellipsis" />
                        Browse datasets
                    </HxButton>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 d-md-flex justify-content-end">
                <label class="form-label mb-lg-0">Dataset</label>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center position-relative">
                    <div class="input-group input-group-sm">
                        <div class="input-group-text">
                            <SvgIcon Icon="LucideIcon.FileBarChart2"/>
                        </div>
                        <input class="form-control form-control-sm" value="@Step.DatasetName" disabled/>
                    </div>
                    @if (_loading)
                    {
                        <HxSpinner Color="ThemeColor.Secondary"
                                   Size="SpinnerSize.Small"
                                   CssClass="position-absolute end-0 py-1 mx-2" />
                    }
                </div>
                <div class="form-text">
                    @if (!string.IsNullOrEmpty(Step.DatasetId))
                    {
                        <text>
                            Id: @Step.DatasetId
                        </text>
                    }
                </div>
            </div>
        </div>

        <DatasetSelectOffcanvas @ref="_datasetSelectOffcanvas" OnDatasetSelected="OnDatasetSelected" />
    }
</StepEditModalTemplate>