@inject IHxMessengerService Messenger
@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject ITokenService TokenService

<HxOffcanvas @ref="offcanvas" Size="OffcanvasSize.Regular" OnClosed="OnClosed" Title="Select dataset">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                <CxIcon Icon="FeatherIcon.Folder" />
                                Workspaces
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (datasets is null)
                        {
                            <tr><td class="text-center"><HxSpinner Color="ThemeColor.Secondary" Size="SpinnerSize.Small" /></td></tr>
                        }
                        else if (datasets.Count == 0)
                        {
                            <tr><td>No workspaces</td></tr>
                        }
                        else
                        {
                            foreach (var group in datasets.Keys.OrderBy(folder => folder.GroupName))
                            {
                                <tr style="cursor: pointer;" @onclick="() => OnGroupChanged(group)" class="@(group == selectedGroup ? "bg-body-tertiary fw-bold" : null)">
                                    <td>@group.GroupName</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                <CxIcon Icon="FeatherIcon.File" />
                                Datasets
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (datasets is not null && selectedGroup is not null)
                        {
                            var datasets = this.datasets[selectedGroup.Value];
                            if (datasets.Count == 0)
                            {
                                <tr><td>No datasets</td></tr>
                            }
                            else
                            {
                                foreach (var dataset in datasets.OrderBy(p => p.DatasetName))
                                {
                                    <tr style="cursor: pointer;" @onclick="() => selectedDataset = dataset" class="@(dataset == selectedDataset ? "bg-body-tertiary fw-bold" : null)">
                                        <td>@dataset.DatasetName</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>

    <FooterTemplate>
        <HxButton Color="ThemeColor.Primary" CssClass="me-3" @onclick="SelectDatasetAsync"
                  Enabled="selectedDataset is not null">
            Select
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await offcanvas.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    [Parameter]
    public Guid? AppRegistrationId { get; set; }

    [Parameter]
    public EventCallback<DatasetSelectedResponse> OnDatasetSelected { get; set; }

    private HxOffcanvas? offcanvas;
    private Dictionary<(string GroupId, string GroupName), List<(string DatasetId, string DatasetName)>>? datasets;
    private (string GroupId, string GroupName)? selectedGroup;
    private (string DatasetId, string DatasetName)? selectedDataset;

    private void OnGroupChanged((string Id, string Name) group)
    {
        if (group != selectedGroup)
        {
            selectedDataset = null;
        }
        selectedGroup = group;
    }

    private async Task SelectDatasetAsync()
    {
        if (selectedGroup is null || selectedDataset is null)
        {
            return;
        }
        var selectedResponse = new DatasetSelectedResponse(
            selectedGroup.Value.GroupId, selectedGroup.Value.GroupName,
            selectedDataset.Value.DatasetId, selectedDataset.Value.DatasetName
        );
        await OnDatasetSelected.InvokeAsync(selectedResponse);
        await offcanvas.LetAsync(x => x.HideAsync());
    }

    private void OnClosed()
    {
        datasets = null;
        selectedGroup = null;
        selectedDataset = null;
    }

    public async Task ShowAsync()
    {
        await offcanvas.LetAsync(x => x.ShowAsync());
        if (AppRegistrationId is null || AppRegistrationId == Guid.Empty) return;
        try
        {
            Guid id = AppRegistrationId ?? throw new ArgumentNullException(nameof(id), "App registration id cannot be null");
            using var context = DbContextFactory.CreateDbContext();
            var appRegistration = await context.AppRegistrations
                .AsNoTracking()
                .FirstAsync(r => r.AppRegistrationId == id);
            datasets = await appRegistration.GetAllDatasetsAsync(TokenService);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error reading datasets", ex.Message);
        }
    }

}
