@using Biflow.Executor.Core.FilesExplorer

@inject ToasterService Toaster
@inject IExecutorService ExecutorService

<HxOffcanvas @ref="_offcanvas" Size="OffcanvasSize.Large" Title="Select file">

    <BodyTemplate>
        <div class="row" style="height: calc(100vh - 170px); overflow-y: scroll;">
            <div class="col">
                <div class="list-group">
                    <FileExplorerTreeView RootNodes="_rootNodes"
                                          SelectedFile="_selectedFile"
                                          OnFileSelected="ToggleFile" />
                </div>
            </div>
        </div>
    </BodyTemplate>

    <FooterTemplate>
        <HxButton Color="ThemeColor.Primary" CssClass="me-3" @onclick="SelectFileAsync"
                  Enabled="_selectedFile is not null">
            Select
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await _offcanvas.LetAsync(x => x.HideAsync())">Cancel</HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    [CascadingParameter] public UserState UserState { get; set; } = new();

    [Parameter] public EventCallback<string> OnFileSelected { get; set; }
    
    private HxOffcanvas? _offcanvas;
    private IReadOnlyList<DirectoryItem>? _rootNodes;
    private DirectoryItem? _selectedFile;

    private async Task SelectFileAsync()
    {
        if (_selectedFile is not null)
        {
            await OnFileSelected.InvokeAsync(_selectedFile.FullName);
            await _offcanvas.LetAsync(x => x.HideAsync());
        }
    }

    public async Task ShowAsync()
    {
        _rootNodes = null;
        _selectedFile = null;

        await _offcanvas.LetAsync(x => x.ShowAsync());

        try
        {
            _rootNodes = await ExecutorService.GetDirectoryItemsAsync(null);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            _rootNodes = [];
            Toaster.AddError("Error reading items", ex.Message);
        }
    }

    private void ToggleFile(DirectoryItem file)
    {
        if (file.Type != DirectoryItemType.File)
        {
            return;
        }
        
        if (_selectedFile == file)
        {
            _selectedFile = null;
            return;
        }
        _selectedFile = file;
    }
}
