@if (Parameter is not null)
{
    <td>
        <div class="input-group">
        <InputSelect class="form-select form-select-sm" @bind-Value="Parameter.ParameterValueType">
            @foreach (var type in Enum.GetValues(typeof(ParameterValueType)))
                {
                <option>@type</option>
                }
        </InputSelect>
    </div>
    </td>
    <td>
        <ParameterValueEditComponent Parameter="Parameter" />
    </td>
    
}

@code {
    [Parameter] public ParameterBase? Parameter { get; set; }
}
