<div class="row mt-3">
    <div class="col text-secondary small">
        Step parameter expressions have the following built-in variables automatically available. They can be used to access the internal ids during execution. Adding expression parameters with any of the follwing names will result in a validation error.
        <ul>
            <li>_execution_id_ - The current execution id. An empty guid is passed when the expression is being tested.</li>
            <li>_job_id_ - The id of the current job.</li>
            <li>_step_id_ - The if of the current step.</li>
            <li>_retry_attempt_index_ - The index number of the current execution attempt. 0 is passed when the expression is being tested.</li>
        </ul>
    </div>
</div>