@inject IHxMessengerService Messenger

@if (Parameter is not null)
{
    <td class="align-middle">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="@Id"
            checked=@Parameter.UseExpression @bind-value="Parameter.UseExpression">
            <label class="form-check-label" for="@Id"></label>
        </div>
    </td>
    @if (Parameter.UseExpression)
    {
        <td colspan="2">
            <div class="d-flex">
                <input type="text" class="form-control form-control-sm me-2 font-monospace" @bind-value="Parameter.Expression.Expression" />
                <HxButtonGroup Size="ButtonGroupSize.Small">
                    <HxButton CssClass="btn-auto" OnClick="() => OnParameterEdit.InvokeAsync(Parameter)" title="Edit">
                        <CxIcon Icon="FeatherIcon.Edit2" />
                    </HxButton>
                    <HxButton CssClass="btn-auto" OnClick="() => TestEvaluate(Parameter)" title="Test evaluate">
                        <CxIcon Icon="FeatherIcon.CheckCircle" />
                    </HxButton>
                </HxButtonGroup>
            </div>
        </td>
    }
    else
    {
        @StaticEditTemplate
    }
}

@code {
    [Parameter, EditorRequired] public DynamicParameter? Parameter { get; set; }

    [Parameter] public EventCallback<DynamicParameter> OnParameterEdit { get; set; }

    [Parameter] public RenderFragment? StaticEditTemplate { get; set; }

    private Guid Id { get; } = Guid.NewGuid();

    private async Task TestEvaluate(DynamicParameter parameter)
    {
        try
        {
            var result = await parameter.Expression.EvaluateAsync();
            Messenger.AddInformation($"Evaluation result: {result}");
        }
        catch (Exception ex)
        {
            Messenger.AddError(ex.Message);
        }
    }
}
