@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IHxMessengerService Messenger
@inject IMediator Mediator

@{
    var title = job.JobId == Guid.Empty ? "New job" : $"Edit {job.JobName}";
}

<HxOffcanvas @ref="offcanvas" Title="@title">
    <BodyTemplate>
        @if (categories is not null)
        {
            <EditForm Model="job" OnValidSubmit="OnSubmit" id="job_edit_form">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row">
                    <div class="col">
                        <label class="form-label">Name</label>
                        <InputText @bind-Value="job.JobName" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label">Category</label>
                        <InputSelect class="form-select" @bind-Value="job.CategoryId">
                            <option value="">No category</option>
                            @foreach (var cat in categories)
                            {
                                <option value="@cat.CategoryId">@cat.CategoryName</option>
                            }
                        </InputSelect>
                    </div>
                </div>
            </EditForm>
        }
    </BodyTemplate>
    <FooterTemplate>
        <HxSubmit Color="ThemeColor.Success" FormId="job_edit_form">
            Save
        </HxSubmit>
        <HxButton CssClass="ms-3" Color="ThemeColor.Secondary" OnClick="() => offcanvas.LetAsync(x => x.HideAsync())">
            Cancel
        </HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    [Parameter] public EventCallback<Job> OnJobSubmitted { get; set; }

    private HxOffcanvas? offcanvas;
    private Job job = new();
    private IEnumerable<JobCategory>? categories;

    private async Task OnSubmit()
    {
        try
        {
            IRequest command = job.JobId == Guid.Empty
                ? new CreateJobCommand(job)
                : new UpdateJobCommand(job);
            await Mediator.Send(command);
            await offcanvas.LetAsync(x => x.HideAsync());
            await OnJobSubmitted.InvokeAsync(job);
            job = new();
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error submitting job", ex.Message);
        }
    }

    public async Task ShowAsync(Job? job = null)
    {
        try
        {
            using var context = await DbContextFactory.CreateDbContextAsync();
            categories = await context.JobCategories
                .AsNoTracking()
                .OrderBy(c => c.CategoryName)
                .ToListAsync();
            if (job is not null)
            {
                this.job = await context.Jobs
                    .AsNoTracking()
                    .FirstAsync(j => j.JobId == job.JobId);
            }
            else
            {
                this.job = new();
            }
            await offcanvas.LetAsync(x => x.ShowAsync());
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error loading job", ex.Message);
        }
    }

}
