@inherits LayoutComponentBase

@inject IConfiguration Configuration

<header>
    <nav class="navbar navbar-custom sticky-top flex-md-nowrap p-0 bg-gradient-primary">
        <span class="navbar-brand fw-semibold ps-4 py-2 fs-4">biflow</span>
        <ErrorBoundary>
            <ThemeDropdown @rendermode="new InteractiveServerRenderMode(prerender: false)" />
        </ErrorBoundary>
        <ul class="navbar-nav">
            <li>
                <strong class="navbar-text px-3">
                    @(Configuration.GetValue<string>("EnvironmentName"))
                </strong>
            </li>
        </ul>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>
