@inject AuthenticationMethodResolver AuthenticationResolver

<nav class="sidebar @ClassString" style="z-index: 1040;">
    <ul class="nav flex-column pt-3">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="NavLinkClick">
                <CxIcon Icon="FeatherIcon.Home" />
                Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="jobs" Match="NavLinkMatch.Prefix" @onclick="NavLinkClick">
                <CxIcon Icon="LucideIcon.ClipboardList" />
                Jobs
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="schedules" Match="NavLinkMatch.Prefix" @onclick="NavLinkClick">
                <CxIcon Icon="FeatherIcon.Calendar" />
                Schedules
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="executions" @onclick="NavLinkClick">
                <CxIcon Icon="FeatherIcon.Activity" />
                Executions
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="dashboard" @onclick="NavLinkClick">
                <CxIcon Icon="FeatherIcon.BarChart2" />
                Dashboard
            </NavLink>
        </li>
        <AuthorizeView Roles="Admin,Editor">
            <li class="nav-item">
                <NavLink class="nav-link" href="tags" @onclick="NavLinkClick">
                    <CxIcon Icon="FeatherIcon.Tag" />
                    Tags
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="dataobjects" @onclick="NavLinkClick">
                    <CxIcon Icon="FeatherIcon.Table" />
                    Data Objects
                </NavLink>
            </li>
        </AuthorizeView>
        <li class="nav-item">
            <NavLink class="nav-link" href="datatables" Match="NavLinkMatch.Prefix" @onclick="NavLinkClick">
                <CxIcon Icon="LucideIcon.Table" />
                Data Tables
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="account" Match="NavLinkMatch.Prefix" @onclick="NavLinkClick">
                <CxIcon Icon="FeatherIcon.User" />
                Account
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="subscriptions" Match="NavLinkMatch.Prefix" @onclick="NavLinkClick">
                <CxIcon Icon="FeatherIcon.Mail" />
                Subscriptions
            </NavLink>
        </li>
        <AuthorizeView Roles="Admin">
            <li class="nav-item">
                <NavLink class="nav-link" href="settings" Match="NavLinkMatch.Prefix" @onclick="NavLinkClick">
                    <CxIcon Icon="FeatherIcon.Settings" />
                    Settings
                </NavLink>
            </li>
        </AuthorizeView>
        @if (AuthenticationResolver.AuthenticationMethod == AuthenticationMethod.BuiltIn
            || AuthenticationResolver.AuthenticationMethod == AuthenticationMethod.Ldap)
        {
            <li class="nav-item mt-3">
                <NavLink class="nav-link" href="logout?returnUrl=/">
                    <CxIcon Icon="FeatherIcon.LogOut" />
                    Log out
                </NavLink>
            </li>
        }
        else if (AuthenticationResolver.AuthenticationMethod == AuthenticationMethod.AzureAd)
        {
            <li class="nav-item mt-3">
                <a class="nav-link" href="MicrosoftIdentity/Account/SignOut">
                    <CxIcon Icon="FeatherIcon.LogOut" />
                    Log out
                </a>
            </li>
        }
    </ul>
</nav>

@code {
    [Parameter]
    public string? ClassString { get; set; }

    [Parameter]
    public EventCallback OnNavLinkClick { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task NavLinkClick()
    {
        await OnNavLinkClick.InvokeAsync();
    }
}
