@if (Parameter is not null)
{
    <td>
        <div class="input-group input-group-sm">
            <div class="input-group-text">
                Type
            </div>
            <InputSelect class="form-select form-select-sm" @bind-Value="Parameter.ParameterValueType" style="max-width: 8rem;">
                @foreach (var type in Enum.GetValues(typeof(ParameterValueType)))
                    {
                    <option>@type</option>
                    }
            </InputSelect>
            <div class="input-group-text">
                Value
            </div>
            <ParameterValueEditor Parameter="Parameter" />
        </div>
    </td>
}

@code {
    [Parameter] public ParameterBase? Parameter { get; set; }
}
