<div class="row justify-content-center mt-5">
    <div class="col-auto">
        <div class="alert alert-warning d-flex align-items-center px-4">
            <span class="icon-unauthorized">
                <SvgIcon Icon="FeatherIcon.XOctagon" />
            </span>
            <span class="fs-4 ms-3 fw-bolder">
                Unauthorized
            </span>
        </div>
    </div>
</div>

<style>
    .icon-unauthorized .feather {
        width: 22px;
        height: 22px;
        stroke-width: 3px;
    }
</style>