/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.btn-row .btn-light {
    background-color: transparent;
    border-color: transparent;
}

.btn-row .btn-light:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.table th {
    border-top: none;
}

/*
    No-wrap buttons of btn-group in a table
*/
.table .btn-group {
    white-space: nowrap;
}

.table .btn-group .btn {
    display: inline-block;
    float: none;
}

.table .btn-group .btn + .btn {
    margin-left: -5px;
}


.badge-warning {
    color: #fff;
}



/*
    Feather icons
*/
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}



/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 100; /* Behind the navbar */
    padding: 55px 0 0; /* Height of navbar */
    background-color: #fff;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

/*Empty space between top bar and navigation menu with smaller screens (in case there are buttons on the top bar)*/
@media (max-width: 992px) {
    .sidebar {
        padding: 135px 0 0;
    }
}

@media (min-width: 992px) {
    .main {
        padding-right: 10px !important;
        padding-left: 210px !important; /* (sidebar width) + (padding right) */
    }
}


.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    /*padding-top: .5rem;*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #444;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-custom {
    background-color: #414b58;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav {
    color: #fff;
}

.navbar-custom .navbar-text {
    color: #eee;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-weight: bold;
    width: 100%;
}

@media (min-width: 992px) {
    .navbar-brand {
        width: 200px;
    }
}

.navbar-brand-bg {
    background-color: rgba(0, 0, 0, .2);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .2);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

