@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IMediator Mediator
@inject ToasterService Toaster

<div class="row mt-3">
    <div class="col">
        <button class="btn btn-secondary" @onclick="OpenConfirmDeleteModalAsync">
            <SvgIcon Icon="LucideIcon.Trash2" />
            Delete unused...
        </button>
    </div>
</div>

<div class="row my-4">
    <div class="col">
        <div class="card">
            <div class="card-body px-0">
                <EditForm id="tag_edit_form" Model="_template" OnValidSubmit="UpdateTagAsync">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th>Tag</th>
                                <th>Sort order</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (_tags is null)
                            {
                                <tr>
                                    <td colspan="4" class="text-center"><HxSpinner Color="ThemeColor.Secondary" /></td>
                                </tr>
                            }
                            else if (!_tags.Any())
                            {
                                <tr>
                                    <td colspan="4" class="px-3">No schedule tags</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var tag in _tags.Order())
                                {
                                    var schedules = tag.Schedules.Count();
                                    <tr>
                                        @if (_editTag?.TagId == tag.TagId)
                                        {
                                            <td class="align-middle">
                                                <InputText class="form-control form-control-sm" @bind-Value="_template.TagName" />
                                            </td>
                                            <td class="align-middle">
                                                <InputNumber class="form-control form-control-sm" @bind-Value="_template.SortOrder" style="max-width: 8rem;" />
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="align-middle">
                                                <TagBadge Tag="tag" />
                                            </td>
                                            <td class="align-middle">
                                                @tag.SortOrder
                                            </td>
                                        }
                                        <td>
                                            <div class="btn-group">
                                                @if (_editTag?.TagId == tag.TagId)
                                                {
                                                    <HxSubmit FormId="tag_edit_form" Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto text-success" title="Submit">
                                                        <SvgIcon Icon="LucideIcon.Check" />
                                                    </HxSubmit>
                                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" OnClick="() => _editTag = null" title="Cancel">
                                                        <SvgIcon Icon="LucideIcon.X" />
                                                    </HxButton>
                                                }
                                                else
                                                {
                                                    <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto" OnClick="() => SetEditTag(tag)">
                                                        <SvgIcon Icon="LucideIcon.PenLine" />
                                                    </HxButton>
                                                }
                                                <HxDropdownButtonGroup>
                                                    <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto">
                                                        <SvgIcon Icon="LucideIcon.Trash2" />
                                                    </HxDropdownToggleButton>
                                                    <HxDropdownMenu>
                                                        <HxDropdownHeader>Delete?</HxDropdownHeader>
                                                        <HxDropdownItem @onclick="async () => await DeleteTag(tag)">Confirm</HxDropdownItem>
                                                    </HxDropdownMenu>
                                                </HxDropdownButtonGroup>
                                                <HxDropdownButtonGroup>
                                                    <HxDropdownToggleButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="btn-auto">
                                                        <SvgIcon Icon="LucideIcon.Palette" />
                                                    </HxDropdownToggleButton>
                                                    <HxDropdownMenu>
                                                        <HxDropdownHeader>Tag color</HxDropdownHeader>
                                                        @foreach (var color in Enum.GetValues<TagColor>())
                                                        {
                                                            var colorTag = new ColorTag(color.ToString(), color);
                                                            <HxDropdownItem OnClick="async () => await SetTagColorAsync(tag, color)">
                                                                <TagBadge Tag="colorTag" />
                                                            </HxDropdownItem>
                                                        }
                                                    </HxDropdownMenu>
                                                </HxDropdownButtonGroup>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <a class="text-body" href="javascript:void(0)" @onclick="async () => await ShowEditModalAsync(tag)">
                                                @(schedules > 0 ? $"{schedules} schedule(s)" : null)
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </EditForm>
            </div>
        </div>
    </div>
</div>

<HxModal @ref="_confirmDeleteModal" Size="ModalSize.Regular" Title="Delete tags">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                Delete these unused tags?
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                @foreach (var tag in UnusedTags)
                {
                    <TagBadge Tag="tag" CssClass="m-1" />
                }
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await _confirmDeleteModal.LetAsync(x => x.HideAsync())">Cancel</button>
        <button class="btn btn-danger" @onclick="DeleteUnusedTagsAsync">Delete</button>
    </FooterTemplate>
</HxModal>

<HxModal @ref="_manageModal" Size="ModalSize.Large" Title="@($"Edit tag {_manageTag?.TagName}")" Scrollable="true">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Schedule</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var schedule in _manageTag?.Schedules.OrderBy(j => j.ScheduleName).AsEnumerable() ?? [])
                        {
                            <tr>
                                <td class="align-middle">
                                    @schedule.ScheduleName
                                </td>
                                <td class="align-middle">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-auto" @onclick="async () => await DeleteScheduleTag(schedule)">
                                            <SvgIcon Icon="LucideIcon.Delete" />
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="async () => await _manageModal.LetAsync(x => x.HideAsync())">Close</button>
    </FooterTemplate>
</HxModal>

@code {
    private List<ScheduleTag>? _tags;
    private HxModal? _confirmDeleteModal;
    private HxModal? _manageModal;
    private ScheduleTag? _manageTag;
    private ScheduleTag _template = new("");
    private ScheduleTag? _editTag;

    private IEnumerable<ScheduleTag> UnusedTags => _tags?
        .Where(t => !t.Schedules.Any())
        .Order()
        .AsEnumerable()
        ?? [];

    protected override async Task OnInitializedAsync()
    {
        await using var context = await DbContextFactory.CreateDbContextAsync();
        _tags = await context.ScheduleTags
            .AsNoTrackingWithIdentityResolution()
            .Include(t => t.Schedules)
            .ToListAsync();
    }

    private async Task OpenConfirmDeleteModalAsync()
    {
        if (!UnusedTags.Any())
        {
            Toaster.AddInformation("No unused schedule tags");
            return;
        }

        await _confirmDeleteModal.LetAsync(x => x.ShowAsync());
    }

    private async Task DeleteUnusedTagsAsync()
    {
        var response = await Mediator.SendAsync(new DeleteUnusedScheduleTagsCommand());
        _tags?.RemoveAll(t => response.DeletedTags.Any(d => d.TagId == t.TagId));
        await _confirmDeleteModal.LetAsync(x => x.HideAsync());
    }

    private void SetEditTag(ScheduleTag tag)
    {
        _template = new ScheduleTag(tag.TagName) { SortOrder = tag.SortOrder };
        _editTag = tag;
    }

    private async Task UpdateTagAsync()
    {
        try
        {
            ArgumentNullException.ThrowIfNull(_editTag);
            _editTag.TagName = _template.TagName;
            _editTag.SortOrder = _template.SortOrder;
            await Mediator.SendAsync(new UpdateTagCommand(_editTag));
            _editTag = null;
            _template = new("");
        }
        catch (DbUpdateConcurrencyException)
        {
            Toaster.AddError("Concurrency error", "The tag was modified outside of this session. Reload the page to view the most recent values.");
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error updating tag", ex.Message);
        }
    }

    private async Task DeleteTag(ScheduleTag tag)
    {
        await Mediator.SendAsync(new DeleteTagCommand(tag.TagId));
        _tags?.Remove(tag);
    }

    private async Task DeleteScheduleTag(Schedule schedule)
    {
        if (_manageTag is null)
        {
            return;
        }
        await Mediator.SendAsync(new DeleteScheduleTagCommand(schedule.ScheduleId, _manageTag.TagId));
        _manageTag.Schedules.Remove(schedule);
    }

    private async Task SetTagColorAsync(Tag tag, TagColor color)
    {
        tag.Color = color;
        await Mediator.SendAsync(new UpdateTagCommand(tag));
    }

    private async Task ShowEditModalAsync(ScheduleTag tag)
    {
        _manageTag = tag;
        await _manageModal.LetAsync(x => x.ShowAsync());
    }
}
