@inject ToasterService Toaster
@inject IJSRuntime Js

<HxOffcanvas @ref="_offcanvas" Size="OffcanvasSize.Large" Backdrop="OffcanvasBackdrop.False" ScrollingEnabled="true" Title="Explore SQL definitions">
    <BodyTemplate>
        <div class="row">
            <div class="col-3">
                <label class="form-label">Connection</label>
            </div>
            <div class="col-9">
                <div class="input-group input-group-sm">
                    <div class="input-group-text">
                        <SvgIcon Icon="LucideIcon.Database" />
                    </div>
                    <select class="form-select form-select-sm" @bind="_connectionId">
                        @foreach (var connection in Connections)
                        {
                            <option value="@connection.ConnectionId">@connection.ConnectionName</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-3">
                <label class="form-label">Procedure name</label>
            </div>
            <div class="col-9">
                <HxAutosuggest TItem="IStoredProcedure"
                               TValue="IStoredProcedure"
                               DataProvider="ProvideSuggestions"
                               TextSelector="TextSelector"
                               MinimumLength="0"
                               InputSize="InputSize.Small"
                               ValueExpression="() => _procedure!"
                               ValueChanged="RunQuery"
                               autocomplete="off">
                    <EmptyTemplate>
                        <span class="p-2">No matching procedures</span>
                    </EmptyTemplate>
                </HxAutosuggest>
            </div>
        </div>

        <hr />
        @if (_objectDefinition is not null)
        {
            <div class="row">
                <div class="col">
                    <a class="text-secondary small" href="javascript:void(0)" @onclick="CopyToClipboard">Copy to clipboard</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <CodeEditor @ref="_editor"
                                Language="sql"
                                ReadOnly="true"
                                InitialValueExpression="() => _objectDefinition"
                                InitialHeight="calc(100vh - 320px)" />
                </div>
            </div>
        }
        @if (_errorMessage is not null)
        {
            <div class="row mt-3">
                <div class="col">
                    <pre><code>@_errorMessage</code></pre>
                </div>
            </div>
        }

    </BodyTemplate>

    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="async () => await _offcanvas.LetAsync(x => x.HideAsync())">Close</HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    [Parameter] public IEnumerable<SqlConnectionBase> Connections { get; set; } = [];

    private Guid? _connectionId;
    private Guid _prevConnectionId;
    private CodeEditor? _editor;
    private HxOffcanvas? _offcanvas;
    private IEnumerable<IStoredProcedure>? _procedures;
    private IStoredProcedure? _procedure;
    private string? _objectDefinition;
    private string? _errorMessage;

    private async Task<AutosuggestDataProviderResult<IStoredProcedure>> ProvideSuggestions(AutosuggestDataProviderRequest request)
    {
        try
        {
            Guid id = _connectionId ?? throw new ArgumentNullException(nameof(id), "Connection id was null");
            if (id != _prevConnectionId)
            {
                _prevConnectionId = id;
                _procedures = null;
            }
            var connection = Connections.First(c => c.ConnectionId == id);
            _procedures ??= connection switch
            {
                MsSqlConnection mssql => await mssql.GetStoredProceduresAsync(),
                SnowflakeConnection sf => await sf.GetStoredProceduresAsync(),
                _ => null
            };

            var filtered = _procedures?
                .Where(p => $"{p.QuotedSchemaName}.{p.QuotedProcedureName}".ContainsIgnoreCase(request.UserInput));
            return new AutosuggestDataProviderResult<IStoredProcedure>
            {
                    Data = filtered
            };
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error querying procedures", ex.Message);
        }
        return new AutosuggestDataProviderResult<IStoredProcedure>
        {
            Data = []
        };
    }

    private string TextSelector(IStoredProcedure proc) => proc.ToString() ?? "";

    private async Task RunQuery(IStoredProcedure? proc)
    {
        if (proc is null)
        {
            return;
        }
        _procedure = proc;
        _objectDefinition = null;
        await _editor.LetAsync(x => x.SetValueAsync(""));
        _errorMessage = null;
        try
        {
            Guid id = _connectionId ?? throw new ArgumentNullException(nameof(id), "Connection id was null");
            var connection = Connections.First(c => c.ConnectionId == id);
            _objectDefinition = connection switch
            {
                MsSqlConnection msSql when proc is MsSqlStoredProcedure msproc => await msSql.GetProcedureDefinitionAsync(msproc),
                MsSqlConnection => throw new ArgumentException($"Unsupported procedure type for {typeof(MsSqlConnection)}: {proc.GetType().Name}"),
                SnowflakeConnection snow when proc is SnowflakeStoredProcedure snowproc => await snow.GetProcedureDefinitionAsync(snowproc),
                SnowflakeConnection => throw new ArgumentException($"Unsupported procedure type for {typeof(SnowflakeConnection)}: {proc.GetType().Name}"),
                _ => throw new ArgumentException($"Unsupported connection type: {connection.GetType().Name}")
            };
            if (_objectDefinition is null)
            {
                _errorMessage = $"No procedure definition found for {proc}";
            }
            await _editor.LetAsync(x => x.SetValueAsync(_objectDefinition));
        }
        catch (SqlException ex)
        {
            _objectDefinition = ex.Message;
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error getting procedure definition", ex.Message);
        }
    }

    private async Task CopyToClipboard()
    {
        try
        {
            await Js.InvokeVoidAsync("navigator.clipboard.writeText", _objectDefinition);
            Toaster.AddInformation("Code copied to clipboard");
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error copying to clipboard", ex.Message);
        }
    }

    public async Task ShowAsync(Guid? connId = null, string? sqlStatement = null)
    {
        _connectionId = connId ?? Connections.FirstOrDefault()?.ConnectionId;
        var connection = Connections.FirstOrDefault(c => c.ConnectionId == _connectionId);
        if (connection is MsSqlConnection msSql && sqlStatement is not null)
        {
            var procFromSql = MsSqlExtensions.ParseStoredProcedureFromSqlStatement(sqlStatement);
            var schema = procFromSql?.Schema;
            var name = procFromSql?.ProcedureName;
            if (name is not null)
            {
                var procFromDb = await msSql.GetStoredProcedureAsync(schema, name);
                if (procFromDb is not null)
                {
                    await RunQuery(procFromDb);
                }
            }
        }
        await _offcanvas.LetAsync(x => x.ShowAsync());
    }

}
