<div class="row mt-3">
    <div class="col text-secondary small">
        Step parameter expressions have the following built-in variables automatically available. They can be used to access the internal ids during execution. Adding expression parameters with any of the follwing names will result in a validation error.
        <ul>
            <li><span class="font-monospace text-secondary-emphasis">@ExpressionParameterNames.ExecutionId</span> - The current execution id. An empty guid is passed when the expression is being tested.</li>
            <li><span class="font-monospace text-secondary-emphasis">@ExpressionParameterNames.JobId</span> - The id of the current job.</li>
            <li><span class="font-monospace text-secondary-emphasis">@ExpressionParameterNames.StepId</span> - The if of the current step.</li>
            <li><span class="font-monospace text-secondary-emphasis">@ExpressionParameterNames.RetryAttemptIndex</span> - The index number of the current execution attempt. 0 is passed when the expression is being tested.</li>
        </ul>
    </div>
</div>