:root {
    --color-primary: #727cf5;
    --color-primary-dark: #5361f3;
    --color-primary-extra-dark: #404ff2;
    --color-primary-super-dark: #0f1fd2;
    --color-primary-light: #8d95f7;
    --color-primary-extra-light: #b8bdfa;
    --color-primary-super-light: #e3e5fd;
    --color-primary-shadow: rgba(114, 124, 245, 0.5);
    --color-success: #0acf97;
    --color-success-dark: #08af80;
    --color-success-extra-dark: #079c72;
    --color-success-super-dark: #056C4F;
    --color-success-light: #0beaab;
    --color-success-extra-light: #aaf1dd;
    --color-success-super-light: #cef5ea;
    --color-success-shadow: rgba(10, 207, 151, 0.5);
    --color-danger: #fa5c7c;
    --color-danger-dark: #f9395f;
    --color-danger-extra-dark: #f82550;
    --color-danger-super-dark: #823040;
    --color-danger-light: #fb748f;
    --color-danger-super-light: #fedee5;
    --color-danger-shadow: rgba(250, 92, 124, 0.5);
    --color-warning: #dfa100;
    --color-warning-light: #ffc107;
    --color-warning-super-light: #FFF2CC;
    --color-warning-extra-dark: #856200;
}

a {
    color: var(--color-primary);
}

a:hover {
    color: var(--color-primary-super-dark);
}

.btn {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.btn-group {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.dropdown-menu {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.btn-group .btn,
.btn-group .btn-group,
.btn.dropdown-item {
    box-shadow: none;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--color-primary);
}


/*
    Primary button customization
*/
.btn-primary {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

    .btn-primary:hover {
        color: #fff;
        background-color: var(--color-primary-dark);
        border-color: var(--color-primary-dark);
    }

    .btn-primary:focus, .btn-primary.focus {
        box-shadow: 0 0 0 0.2rem var(--color-primary-shadow);
    }

    .btn-primary.disabled, .btn-primary:disabled {
        color: #fff;
        background-color: var(--color-primary-light);
        border-color: var(--color-primary-light);
    }

    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: var(--color-primary-extra-dark);
        border-color: var(--color-primary-extra-dark);
    }

        .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem var(--color-primary-shadow);
        }


/*
    Success button customization
*/
.btn-success {
    color: #fff;
    background-color: var(--color-success);
    border-color: var(--color-success);
}

    .btn-success:hover {
        color: #fff;
        background-color: var(--color-success-dark);
        border-color: var(--color-success-dark);
    }

    .btn-success:focus, .btn-success.focus {
        box-shadow: 0 0 0 0.2rem var(--color-success-shadow);
    }

    .btn-success.disabled, .btn-success:disabled {
        color: #fff;
        background-color: var(--color-success-light);
        border-color: var(--color-success-light);
    }

    .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
    .show > .btn-success.dropdown-toggle {
        color: #fff;
        background-color: var(--color-success-extra-dark);
        border-color: var(--color-success-extra-dark);
    }

        .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
        .show > .btn-success.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem var(--color-success-shadow);
        }


/*
    Danger button customization
*/
.btn-danger {
    color: #fff;
    background-color: var(--color-danger);
    border-color: var(--color-danger);
}

    .btn-danger:hover {
        color: #fff;
        background-color: var(--color-danger-dark);
        border-color: var(--color-danger-dark);
    }

    .btn-danger:focus, .btn-danger.focus {
        box-shadow: 0 0 0 0.2rem var(--color-danger-shadow);
    }

    .btn-danger.disabled, .btn-danger:disabled {
        color: #fff;
        background-color: var(--color-danger-light);
        border-color: var(--color-danger-light);
    }

    .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
    .show > .btn-danger.dropdown-toggle {
        color: #fff;
        background-color: var(--color-danger-extra-dark);
        border-color: var(--color-danger-extra-dark);
    }

        .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
        .show > .btn-danger.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem var(--color-danger-shadow);
        }




/*
    Checkbox, radio and other form customizations
*/

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}

.custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem var(--color-primary-shadow);
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem var(--color-primary-shadow);
    border-color: var(--color-primary) !important;
}

.form-control:focus {
    border-color: var(--color-primary);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--color-primary-shadow);
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: var(--color-primary-extra-light);
    border-color: var(--color-primary-extra-light);
}

.custom-radio .custom-control-input:active ~ .custom-control-label::before {
    background-color: var(--color-primary-extra-light);
    border-color: var(--color-primary-extra-light);
}

/*
    Switch customization
*/
.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--color-success) !important;
    border-color: var(--color-success) !important;
}

.custom-switch .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem var(--color-success-shadow);
}

.custom-switch .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem var(--color-success-shadow);
    border-color: var(--color-success) !important;
}

.custom-switch .custom-control-input:active ~ .custom-control-label::before {
    background-color: var(--color-success-extra-light);
    border-color: var(--color-success-extra-light);
}


/*
    Class used for buttons which are placed inside a table row
*/

.btn-row {
    box-shadow: none;
}

    .btn-row .btn-light {
        background-color: transparent;
        border-color: transparent;
    }

        .btn-row .btn-light:hover {
            background-color: #e2e6ea;
            border-color: #dae0e5;
        }


.table th {
    border-top: none;
}

tr.disabled {
    background-color: #f3f3f3;
}

/*
    No-wrap buttons of btn-group in a table
*/
.table .btn-group {
    white-space: nowrap;
}

    .table .btn-group .btn {
        display: inline-block;
        float: none;
    }

        .table .btn-group .btn + .btn {
            margin-left: -5px;
        }

/*
    Spinner
*/

.spinner-border.text-primary {
    color: var(--color-primary) !important;
}

/*
    Badge
*/
.badge-primary {
    background-color: var(--color-primary);
}

.badge-success {
    background-color: var(--color-success);
}

.badge-danger {
    background-color: var(--color-danger);
}

.badge-warning {
    color: #fff;
}

/*
    Text
*/

.text-primary {
    color: var(--color-primary);
}

.text-success {
    color: var(--color-success);
}

.text-danger {
    color: var(--color-danger);
}

/*
    Job status icons
*/
.status-icon svg {
    width: 20px;
    height: 20px;
}
.status-icon.failed svg {
    color: var(--color-danger);
}
.status-icon.running svg {
    color: var(--color-success);
}
.status-icon.warning svg {
    color: var(--color-warning);
}

/*
    Alert
*/
.alert-success {
    background-color: var(--color-success-super-light);
    border-color: var(--color-success-super-light);
}

.alert-danger {
    background-color: var(--color-danger-super-light);
    border-color: var(--color-danger-super-light);
}


/*
    Execution Gantt graph
*/
.progress-bar.running {
    background-color: var(--color-primary);
}
.progress-bar.succeeded {
    background-color: var(--color-success);
}
.progress-bar.failed {
    background-color: var(--color-danger);
}
.progress-bar.skipped {
    background-color: var(--color-warning-light);
}
.progress-bar.stopped {
    background-color: var(--color-warning-light);
}
.progress-bar.duplicate {
    background-color: var(--color-warning-light);
}
.progress-bar.awaitretry {
    background-color: var(--color-warning-light);
}
.progress-bar:hover {
    filter: brightness(0.9);
}



/*
    Feather icons
*/
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.tag-remove .feather {
    width: 14px;
    height: 14px;
}

.tag-remove:hover {
    cursor: pointer;
}

/*
    Nav
*/
.nav-pills .nav-link.active {
    background-color: var(--color-primary);
}

.nav-link {
    color: var(--color-primary);
}

    .nav-link:hover {
        color: var(--color-primary-super-dark);
    }

/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 180px;
    z-index: 100; /* Behind the navbar */
    padding: 55px 0 0; /* Height of navbar */
    background-color: #fff;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

/*Empty space between top bar and navigation menu with smaller screens (in case there are buttons on the top bar)*/
@media (max-width: 992px) {
    .sidebar {
        padding: 135px 0 0;
    }
}

@media (min-width: 992px) {
    .main {
        padding-right: 10px !important;
        padding-left: 190px !important; /* (sidebar width) + (padding right) */
    }
}


.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    /*padding-top: .5rem;*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #444;
}

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #999;
    }

    .sidebar .nav-link.active {
        color: var(--color-primary);
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-custom {
    background-color: #313A46;
    /*background-image: linear-gradient(90deg, #727CF5 0%, #8F75DA 100%);*/
}

    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-nav {
        color: #fff;
    }

    .navbar-custom .navbar-text {
        color: #eee;
    }

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-weight: bold;
    width: 100%;
}

@media (min-width: 992px) {
    .navbar-brand {
        width: 180px;
    }

    /* Never collapse the sidebar for wide screens */
    .sidebar.collapse {
        display: block;
    }
}

.navbar-brand-bg {
    background-color: rgba(0, 0, 0, .2);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .2);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}


.validation-message {
    color: var(--color-danger);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}