/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --color-primary-super-dark: #004085;
    --color-primary-super-light: #CCE5FF;
    --color-success: #28a745;
    --color-success-super-dark: #155724;
    --color-success-super-light: #D4EDDA;
    --color-danger: #dc3545;
    --color-danger-super-dark: #721C24;
    --color-danger-super-light: #F8D7DA;
    --color-warning: #ffc107;
    --color-warning-super-light: #FFF3CD;
    --color-warning-extra-dark: #856404;
}

.btn-row .btn-light {
    background-color: transparent;
    border-color: transparent;
}

.btn-row .btn-light:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.table th {
    border-top: none;
}

tr.disabled {
    background-color: #f3f3f3;
}

/*
    No-wrap buttons of btn-group in a table
*/
.table .btn-group {
    white-space: nowrap;
}

.table .btn-group .btn {
    display: inline-block;
    float: none;
}

.table .btn-group .btn + .btn {
    margin-left: -5px;
}


.badge-warning {
    color: #fff;
}


/*
    Job status icons
*/
.status-icon svg {
    width: 20px;
    height: 20px;
}

.status-icon.failed svg {
    color: var(--color-danger);
}

.status-icon.running svg {
    color: var(--color-success);
}

.status-icon.warning svg {
    color: var(--color-warning);
}

/*
    Execution Gantt graph
*/
.progress-bar.running {
    background-color: var(--color-primary);
}
.progress-bar.succeeded {
    background-color: var(--color-success);
}
.progress-bar.failed {
    background-color: var(--color-danger);
}
.progress-bar.skipped {
    background-color: var(--color-warning);
}
.progress-bar.stopped {
    background-color: var(--color-warning);
}
.progress-bar.duplicate {
    background-color: var(--color-warning);
}
.progress-bar.awaitretry {
    background-color: var(--color-warning);
}
.progress-bar.warning {
    background-color: var(--color-warning);
}
.progress-bar.suspended {
    background-color: var(--color-danger);
}
.progress-bar:hover {
    filter: brightness(0.9);
}


/*
    Dependency graph
*/
.dependency-graph {
    width: 100%;
    height: 80%;
    resize: both;
    overflow: hidden;
}

    .dependency-graph svg {
        width: 100%;
        height: 100%;
        cursor: move;
    }

    .dependency-graph .node {
        cursor: pointer;
    }

        .dependency-graph .node rect {
            stroke-width: 2px;
            stroke: #666;
            fill: #fff;
        }

        .dependency-graph .node.disabled rect {
            fill: #eee;
        }

        .dependency-graph .node.running rect {
            stroke: var(--color-primary);
            stroke-width: 3px;
        }

        .dependency-graph .node.succeeded rect {
            stroke: var(--color-success);
            stroke-width: 3px;
        }

        .dependency-graph .node.failed rect {
            stroke: var(--color-danger);
            stroke-width: 3px;
        }

        .dependency-graph .node.skipped rect {
            stroke: var(--color-warning);
            stroke-width: 3px;
        }

        .dependency-graph .node.stopped rect {
            stroke: var(--color-warning);
            stroke-width: 3px;
        }

        .dependency-graph .node.duplicate rect {
            stroke: var(--color-warning);
            stroke-width: 3px;
        }

        .dependency-graph .node.awaitretry rect {
            stroke: var(--color-warning);
            stroke-width: 3px;
        }

    .dependency-graph .name {
        margin-top: 4px;
    }

    .dependency-graph .edgePath path {
        stroke: #888;
        stroke-width: 2px;
        fill: #888;
    }

    .dependency-graph .edgePath.non-strict path {
        stroke-dasharray: 5,5;
    }

    .dependency-graph .edgePath.strict path {
    }


/*
    Feather icons
*/
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.tag-remove .feather {
    width: 14px;
    height: 14px;
}

.tag-remove:hover {
    color: black;
    cursor: pointer;
}


/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 180px;
    z-index: 100; /* Behind the navbar */
    padding: 55px 0 0; /* Height of navbar */
    background-color: #fff;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

/*Empty space between top bar and navigation menu with smaller screens (in case there are buttons on the top bar)*/
@media (max-width: 992px) {
    .sidebar {
        padding: 135px 0 0;
    }
}

@media (min-width: 992px) {
    .main {
        padding-right: 10px !important;
        padding-left: 190px !important; /* (sidebar width) + (padding right) */
    }
}


.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    /*padding-top: .5rem;*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #444;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-custom {
    background-color: #414b58;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav {
    color: #fff;
}

.navbar-custom .navbar-text {
    color: #eee;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-weight: bold;
    width: 100%;
}

@media (min-width: 992px) {
    .navbar-brand {
        width: 180px;
    }

    /* Never collapse the sidebar for wide screens */
    .sidebar.collapse {
        display: block;
    }
}

.navbar-brand-bg {
    background-color: rgba(0, 0, 0, .2);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .2);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }