@implements IDisposable

@inject IDbContextFactory<AppDbContext> DbContextFactory

<HxModal @ref="modal" Title="Edit tags" Size="ModalSize.Small">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                @if (steps is not null)
                {
                    <input class="form-control" type="number" placeholder="Retry attempts" min="0" @bind-value="RetryAttempts" />
                }
                else
                {
                    <HxSpinner Color="ThemeColor.Secondary" />
                }
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Success" OnClick="SubmitStepsAsync">
            Save
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="CloseAsync">
            Cancel
        </HxButton>
    </FooterTemplate>
</HxModal>

@code {
    [Parameter] public IEnumerable<Step> SelectedSteps { get; set; } = Enumerable.Empty<Step>();

    [Parameter] public EventCallback<IEnumerable<Step>> OnStepsSubmit { get; set; }

    private HxModal? modal;
    private AppDbContext? context;
    private List<Step>? steps;

    private int? RetryAttempts
    {
        get => retries;
        set
        {
            if (value is null || value >= 0)
            {
                retries = value;
            }
        }
    }

    private int? retries;

    public async Task ShowAsync()
    {
        if (!SelectedSteps.Any())
        {
            return;
        }

        await modal.LetAsync(x => x.ShowAsync());

        if (context is not null)
        {
            await context.DisposeAsync();
        }
        context = await DbContextFactory.CreateDbContextAsync();
        var stepIds = SelectedSteps.Select(s => s.StepId).ToArray();
        steps = await JobDetails.BuildStepsQueryWithIncludes(context)
            .Where(s => stepIds.Contains(s.StepId))
            .ToListAsync();
    }

    private async Task CloseAsync()
    {
        RetryAttempts = null;
        await modal.LetAsync(x => x.HideAsync());
    }

    private async Task SubmitStepsAsync()
    {
        ArgumentNullException.ThrowIfNull(steps);
        ArgumentNullException.ThrowIfNull(context);

        int retries;
        if (RetryAttempts is int i)
        {
            retries = i;
        }
        else
        {
            return;
        }

        foreach (var step in steps)
        {
            step.RetryAttempts = retries;
        }

        await context.SaveChangesAsync();
        await OnStepsSubmit.InvokeAsync(steps);
        await CloseAsync();
    }

    public void Dispose() => context?.Dispose();
}
