@implements IDisposable

@inject IDbContextFactory<AppDbContext> DbContextFactory

<HxModal @ref="modal" Title="Edit execution phase">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="radio_batch_edit_exec_phase_abs"
                           checked=@(editMode == EditMode.Absolute)
                    @onchange="() => editMode = EditMode.Absolute">
                    <label class="form-check-label" for="radio_batch_edit_exec_phase_abs">
                        Absolute
                        &nbsp;
                        <HxPopover Trigger="PopoverTrigger.Hover" Content="Set an absolute value to replace current execution phase value for selected steps.">
                            <SvgIcon Icon="FeatherIcon.Info" />
                        </HxPopover>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="radio_batch_edit_exec_phase_shift"
                           checked=@(editMode == EditMode.Shift)
                    @onchange="() => editMode = EditMode.Shift">
                    <label class="form-check-label" for="radio_batch_edit_exec_phase_shift">
                        Shift
                        &nbsp;
                        <HxPopover Trigger="PopoverTrigger.Hover" Content="Shift the current execution phase value by the input value for each of the selected steps. Positive values increase and negative values decrease the current execution phase values.">
                            <SvgIcon Icon="FeatherIcon.Info" />
                        </HxPopover>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                @if (steps is not null)
                {
                    <input class="form-control" type="number" placeholder="Execution phase" @bind-value="executionPhase" />
                }
                else
                {
                    <HxSpinner Color="ThemeColor.Secondary" />
                }
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Success" OnClick="SubmitStepsAsync">
            Save
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="CloseAsync">
            Cancel
        </HxButton>
    </FooterTemplate>
</HxModal>

@code {
    [Parameter] public IEnumerable<Step> SelectedSteps { get; set; } = Enumerable.Empty<Step>();

    [Parameter] public EventCallback<IEnumerable<Step>> OnStepsSubmit { get; set; }

    private HxModal? modal;
    private AppDbContext? context;
    private List<Step>? steps;
    private EditMode editMode = EditMode.Absolute;
    private int? executionPhase;

    private enum EditMode { Absolute, Shift }

    public async Task ShowAsync()
    {
        if (!SelectedSteps.Any())
        {
            return;
        }

        await modal.LetAsync(x => x.ShowAsync());

        if (context is not null)
        {
            await context.DisposeAsync();
        }
        context = await DbContextFactory.CreateDbContextAsync();
        var stepIds = SelectedSteps.Select(s => s.StepId).ToArray();
        steps = await JobDetails.BuildStepsQueryWithIncludes(context)
            .Where(s => stepIds.Contains(s.StepId))
            .ToListAsync();
    }

    private async Task CloseAsync()
    {
        editMode = EditMode.Absolute;
        executionPhase = null;
        await modal.LetAsync(x => x.HideAsync());
    }

    private async Task SubmitStepsAsync()
    {
        ArgumentNullException.ThrowIfNull(steps);
        ArgumentNullException.ThrowIfNull(context);

        int executionPhase;
        if (this.executionPhase is int i)
        {
            executionPhase = i;
        }
        else
        {
            return;
        }

        foreach (var step in steps)
        {
            step.ExecutionPhase = editMode switch
            {
                EditMode.Absolute => executionPhase,
                EditMode.Shift => step.ExecutionPhase + executionPhase,
                _ => step.ExecutionPhase
            };
        }

        await context.SaveChangesAsync();
        await OnStepsSubmit.InvokeAsync(steps);
        await CloseAsync();
    }

    public void Dispose() => context?.Dispose();
}
