@implements IDisposable

@inject IDbContextFactory<AppDbContext> DbContextFactory

<HxModal @ref="modal" Title="Rename steps" Scrollable="true" Size="ModalSize.Large">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="radio_batch_edit_rename_replace"
                           checked=@(editMode == EditMode.Replace)
                    @onchange="() => editMode = EditMode.Replace">
                    <label class="form-check-label" for="radio_batch_edit_rename_replace">
                        Replace
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="radio_batch_edit_rename_prepend"
                           checked=@(editMode == EditMode.Prepend)
                    @onchange="() => editMode = EditMode.Prepend">
                    <label class="form-check-label" for="radio_batch_edit_rename_prepend">
                        Prepend
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="radio_batch_edit_rename_append"
                           checked=@(editMode == EditMode.Append)
                    @onchange="() => editMode = EditMode.Append">
                    <label class="form-check-label" for="radio_batch_edit_rename_append">
                        Append
                    </label>
                </div>
                @if (editMode == EditMode.Replace)
                {
                    <div class="form-check form-check-inline ms-4">
                        <input type="checkbox" class="form-check-input" id="check_batch_edit_rename_case_sensitive"
                               checked=@caseSensitive
                        @onchange="() => caseSensitive = !caseSensitive">
                        <label class="form-check-label" for="check_batch_edit_rename_case_sensitive">
                            Case sensitive
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="row mt-3">
            @if (editMode == EditMode.Prepend || editMode == EditMode.Append)
            {
                <div class="col">
                    <input class="form-control" type="text" @bind-value="prependAppendString" @bind-value:event="oninput" />
                </div>
            }
            else if (editMode == EditMode.Replace)
            {
                <div class="col">
                    <input class="form-control" type="text" placeholder="Old text" @bind-value="oldString" @bind-value:event="oninput" />
                </div>
                <div class="col">
                    <input class="form-control" type="text" placeholder="New text" @bind-value="newString" @bind-value:event="oninput" />
                </div>
            }
        </div>
        <div class="row mt-3">
            <div class="col">
                <h6>Preview</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm">
                    <tbody>
                        @if ((editMode == EditMode.Prepend || editMode == EditMode.Append) && !string.IsNullOrEmpty(prependAppendString))
                        {
                            foreach (var step in steps?.OrderBy(s => s.StepName) ?? Enumerable.Empty<Step>())
                            {
                                var after = editMode switch
                                {
                                    EditMode.Prepend => $"{prependAppendString}{step.StepName}",
                                    EditMode.Append => $"{step.StepName}{prependAppendString}",
                                    _ => step.StepName
                                };
                                <tr>
                                    <td>
                                        <StepTypeIcon StepType="step.StepType" />
                                        @step.StepName
                                    </td>
                                    <td>
                                        <span><SvgIcon Icon="FeatherIcon.ArrowRight" /></span>
                                    </td>
                                    <td>
                                        <StepTypeIcon StepType="step.StepType" />
                                        @after
                                    </td>
                                </tr>
                            }
                        }
                        else if (editMode == EditMode.Replace && !string.IsNullOrEmpty(oldString))
                        {
                            if (AffectedSteps.Any())
                            {
                                foreach (var step in AffectedSteps)
                                {
                                    <tr>
                                        <td>
                                            <StepTypeIcon StepType="step.StepType" />
                                            @step.StepName
                                        </td>
                                        <td>
                                            <span><SvgIcon Icon="FeatherIcon.ArrowRight" /></span>
                                        </td>
                                        <td>
                                            <StepTypeIcon StepType="step.StepType" />
                                            @step.StepName?.Replace(oldString, newString, Comparison)
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        No changes
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>
                                    No changes
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Success" OnClick="SubmitStepsAsync">
            Save
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="CloseAsync">
            Cancel
        </HxButton>
    </FooterTemplate>
</HxModal>

@code {
    [Parameter] public IEnumerable<Step> SelectedSteps { get; set; } = Enumerable.Empty<Step>();

    [Parameter] public EventCallback<IEnumerable<Step>> OnStepsSubmit { get; set; }

    private HxModal? modal;
    private AppDbContext? context;
    private List<Step>? steps;
    private EditMode editMode = EditMode.Replace;
    private bool caseSensitive = true;
    private string prependAppendString = "";
    private string oldString = "";
    private string newString = "";

    private StringComparison Comparison =>
        caseSensitive ? StringComparison.InvariantCulture : StringComparison.InvariantCultureIgnoreCase;

    private IEnumerable<Step> AffectedSteps => steps
        ?.Where(s => s.StepName?.Contains(oldString, Comparison) == true)
        .OrderBy(s => s.StepName)
        ?? Enumerable.Empty<Step>();

    private enum EditMode { Replace, Prepend, Append };

    public async Task ShowAsync()
    {
        if (!SelectedSteps.Any())
        {
            return;
        }

        await modal.LetAsync(x => x.ShowAsync());

        if (context is not null)
        {
            await context.DisposeAsync();
        }
        context = await DbContextFactory.CreateDbContextAsync();
        var stepIds = SelectedSteps.Select(s => s.StepId).ToArray();
        steps = await JobDetails.BuildStepsQueryWithIncludes(context)
            .Where(s => stepIds.Contains(s.StepId))
            .ToListAsync();
    }

    private async Task CloseAsync()
    {
        (editMode, prependAppendString, oldString, newString, caseSensitive) =
            (EditMode.Replace, "", "", "", true);
        await modal.LetAsync(x => x.HideAsync());
    }

    private async Task SubmitStepsAsync()
    {
            ArgumentNullException.ThrowIfNull(this.steps);
        ArgumentNullException.ThrowIfNull(context);

        var steps = editMode switch
        {
            EditMode.Replace => AffectedSteps,
            _ => this.steps
        };
        foreach (var step in this.steps)
        {
            step.StepName = editMode switch
            {
                EditMode.Prepend => $"{prependAppendString}{step.StepName}",
                EditMode.Append => $"{step.StepName}{prependAppendString}",
                EditMode.Replace => step.StepName?.Replace(oldString, newString, Comparison),
                _ => step.StepName
            };
        }

        await context.SaveChangesAsync();
        await OnStepsSubmit.InvokeAsync(this.steps);
        await CloseAsync();
    }

    public void Dispose() => context?.Dispose();
}
