@implements IDisposable

@inject IDbContextFactory<AppDbContext> DbContextFactory

<HxModal @ref="_modal" Title="Edit execution phase">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="radio_batch_edit_exec_phase_abs"
                           checked=@(_editMode == EditMode.Absolute)
                    @onchange="() => _editMode = EditMode.Absolute">
                    <label class="form-check-label" for="radio_batch_edit_exec_phase_abs">
                        Absolute
                        &nbsp;
                        <HxPopover Trigger="PopoverTrigger.Hover" Content="Set an absolute value to replace current execution phase value for selected steps.">
                            <SvgIcon Icon="LucideIcon.Info" />
                        </HxPopover>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="radio_batch_edit_exec_phase_shift"
                           checked=@(_editMode == EditMode.Shift)
                    @onchange="() => _editMode = EditMode.Shift">
                    <label class="form-check-label" for="radio_batch_edit_exec_phase_shift">
                        Shift
                        &nbsp;
                        <HxPopover Trigger="PopoverTrigger.Hover" Content="Shift the current execution phase value by the input value for each of the selected steps. Positive values increase and negative values decrease the current execution phase values.">
                            <SvgIcon Icon="LucideIcon.Info" />
                        </HxPopover>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                @if (_steps is not null)
                {
                    <input class="form-control" type="number" placeholder="Execution phase" @bind-value="_executionPhase" />
                }
                else
                {
                    <HxSpinner Color="ThemeColor.Secondary" />
                }
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Success" OnClick="SubmitStepsAsync">
            Save
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="CloseAsync">
            Cancel
        </HxButton>
    </FooterTemplate>
</HxModal>

@code {
    [Parameter] public IEnumerable<Step> SelectedSteps { get; set; } = [];

    [Parameter] public EventCallback<IEnumerable<Step>> OnStepsSubmit { get; set; }

    private HxModal? _modal;
    private AppDbContext? _context;
    private List<Step>? _steps;
    private EditMode _editMode = EditMode.Absolute;
    private int? _executionPhase;

    private enum EditMode { Absolute, Shift }

    public async Task ShowAsync()
    {
        if (!SelectedSteps.Any())
        {
            return;
        }

        await _modal.LetAsync(x => x.ShowAsync());

        if (_context is not null)
        {
            await _context.DisposeAsync();
        }
        _context = await DbContextFactory.CreateDbContextAsync();
        var stepIds = SelectedSteps.Select(s => s.StepId).ToArray();
        _steps = await JobDetails.BuildStepsQueryWithIncludes(_context)
            .Where(s => stepIds.Contains(s.StepId))
            .ToListAsync();
    }

    private async Task CloseAsync()
    {
        _editMode = EditMode.Absolute;
        _executionPhase = null;
        await _modal.LetAsync(x => x.HideAsync());
    }

    private async Task SubmitStepsAsync()
    {
        ArgumentNullException.ThrowIfNull(_steps);
        ArgumentNullException.ThrowIfNull(_context);

        int executionPhase;
        if (_executionPhase is { } i)
        {
            executionPhase = i;
        }
        else
        {
            return;
        }

        foreach (var step in _steps)
        {
            step.ExecutionPhase = _editMode switch
            {
                EditMode.Absolute => executionPhase,
                EditMode.Shift => step.ExecutionPhase + executionPhase,
                _ => step.ExecutionPhase
            };
        }

        await _context.SaveChangesAsync();
        await OnStepsSubmit.InvokeAsync(_steps);
        await CloseAsync();
    }

    public void Dispose() => _context?.Dispose();
}
