@implements IDisposable

@inject IDbContextFactory<BiflowContext> DbContextFactory

<HxModal @ref="Modal" Title="Edit tags" Size="ModalSize.Small">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                @if (Steps is not null)
                {
                    <input class="form-control" type="number" placeholder="Retry interval (min)" min="0" @bind-value="RetryInterval" />
                }
                else
                {
                    <HxSpinner Color="ThemeColor.Secondary" />
                }
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Success" OnClick="SubmitStepsAsync">
            Save
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="CloseAsync">
            Cancel
        </HxButton>
    </FooterTemplate>
</HxModal>

@code {
    [Parameter] public IEnumerable<Step> SelectedSteps { get; set; } = Enumerable.Empty<Step>();

    [Parameter] public EventCallback<IEnumerable<Step>> OnStepsSubmit { get; set; }

    private HxModal? Modal { get; set; }

    private BiflowContext? Context { get; set; }

    private List<Step>? Steps { get; set; }

    private int? RetryInterval
    {
        get => retryInterval;
        set
        {
            if (value is null || value >= 0)
            {
                retryInterval = value;
            }
        }
    }

    private int? retryInterval;

    public async Task ShowAsync()
    {
        if (!SelectedSteps.Any())
        {
            return;
        }

        await Modal.LetAsync(x => x.ShowAsync());

        if (Context is not null)
        {
            await Context.DisposeAsync();
        }
        Context = await DbContextFactory.CreateDbContextAsync();
        var stepIds = SelectedSteps.Select(s => s.StepId).ToArray();
        Steps = await JobDetails.BuildStepsQueryWithIncludes(Context)
            .Where(s => stepIds.Contains(s.StepId))
            .ToListAsync();
    }

    private async Task CloseAsync()
    {
        RetryInterval = null;
        await Modal.LetAsync(x => x.HideAsync());
    }

    private async Task SubmitStepsAsync()
    {
        ArgumentNullException.ThrowIfNull(Steps);
        ArgumentNullException.ThrowIfNull(Context);

        int interval;
        if (RetryInterval is int i)
        {
            interval = i;
        }
        else
        {
            return;
        }

        foreach (var step in Steps)
        {
            step.RetryIntervalMinutes = interval;
        }

        await Context.SaveChangesAsync();
        await OnStepsSubmit.InvokeAsync(Steps);
        await CloseAsync();
    }

    public void Dispose() => Context?.Dispose();
}
