@page "/subscriptions"

@inject IDbContextFactory<AppDbContext> DbFactory

<PageTitle>Subscriptions | Biflow</PageTitle>

<h4>Subscriptions</h4>

<UserSubscriptions User="_user" Jobs="_jobs" Steps="_steps" StepTags="_stepTags" />

@code {
    [CascadingParameter] public Task<AuthenticationState>? AuthenticationState { get; set; }

    [Parameter] public string? Page { get; set; }

    private User? _user;
    private List<JobProjection>? _jobs;
    private List<StepTag>? _stepTags;
    private List<StepProjection>? _steps;

    protected override async Task OnInitializedAsync()
    {
        ArgumentNullException.ThrowIfNull(AuthenticationState);
        var authState = await AuthenticationState;
        var username = authState.User.Identity?.Name;

        await using var context = await DbFactory.CreateDbContextAsync();
        _user = await context.Users
            .AsNoTrackingWithIdentityResolution()
            .Include(user => user.Subscriptions)
            .FirstAsync(user => user.Username == username);
        _jobs = await context.Jobs
            .AsNoTrackingWithIdentityResolution()
            .OrderBy(job => job.JobName)
            .Select(j => new JobProjection(j.JobId, j.JobName, j.ExecutionMode))
            .ToListAsync();
        _steps = await context.Steps
            .AsNoTrackingWithIdentityResolution()
            .Select(s => new StepProjection(
                s.StepId,
                s.JobId,
                s.Job.JobName,
                s.StepName,
                s.StepType,
                s.ExecutionPhase,
                s.IsEnabled,
                s.Tags.ToArray(),
                s.Dependencies.Select(d => new DependencyProjection(d.StepId, d.DependantOnStepId, d.DependencyType)).ToArray()))
            .ToListAsync();
        _stepTags = await context.StepTags
            .AsNoTrackingWithIdentityResolution()
            .ToListAsync();
        _stepTags.Sort();
    }
}