@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject AuthenticationMethodResolver AuthenticationResolver
@inject ExecutorModeResolver ExecutorResolver

@*Toast container for HxToaster service*@
<style>
    .hx-toast-container {
        margin-top: 1.5rem!important;
        z-index: 2000;
    }

    #hx_message_box_host_container .modal-body {
        white-space: pre-wrap;
    }
</style>

<AuthorizeView>
    <Authorized>
        <ContextMenu />
        <div id="hx_message_box_host_container">
            <HxMessageBoxHost />
        </div>
        <Toaster />
        <ServiceHealthResolver OnStatusMessageResolved="message => _serviceErrorMessage = message" />
        <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}, {Roles.Operator}")" Context="auth2">
            <ExecuteMultipleModal @ref="_executeMultipleModal" />
        </AuthorizeView>
        <StepExecutionMonitorsOffcanvas @ref="_stepExecutionMonitorsOffcanvas" />
        <header>
            <nav class="navbar navbar-dark navbar-custom sticky-top flex-lg-nowrap navbar-expand-lg p-0 bg-gradient-primary">
                <span class="navbar-brand navbar-brand-bg fw-semibold ps-4 py-2 fs-4 me-0">biflow</span>
                <HxButton Size="ButtonSize.Small" Color="ThemeColor.None" CssClass="my-1 mx-3 d-lg-none text-white" OnClick="ToggleSidebar">
                    <SvgIcon Icon="LucideIcon.Menu" />
                    Menu
                </HxButton>
                <ThemeDropdown />
                <ul class="navbar-nav">
                    <li>
                        <strong class="navbar-text px-3">
                            @(Configuration.GetValue<string>("EnvironmentName"))
                        </strong>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container-fluid">
            <div role="row">
                <NavMenu ClassString="@SidebarClass" OnNavLinkClick="CollapseSidebar" />
                <main class="main pt-3 flex-grow-1">
                    @if (ExecutorResolver.ExecutorMode == ExecutorMode.SelfHosted)
                    {
                        <HxAlert Color="ThemeColor.Warning" Dismissible>
                            Self-hosted executor should only be used for development/testing.
                        </HxAlert>
                    }
                    @if (_serviceErrorMessage is not null)
                    {
                        <HxAlert Color="ThemeColor.Warning" Dismissible>
                            @_serviceErrorMessage
                        </HxAlert>
                    }
                    <CascadingValue Value="_userState">
                        <CascadingValue Value="_executeMultipleModal">
                            <CascadingValue Value="_stepExecutionMonitorsOffcanvas">
                                @Body
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                </main>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    protected Task<AuthenticationState>? AuthState { get; set; }

    private readonly UserState _userState = new();
    
    private bool _collapseSidebar = true;
    private RenderFragment? _serviceErrorMessage;
    private ExecuteMultipleModal? _executeMultipleModal;
    private StepExecutionMonitorsOffcanvas? _stepExecutionMonitorsOffcanvas;

    private string? SidebarClass => _collapseSidebar ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        if (AuthState is null)
        {
            throw new ApplicationException("Failed to get authentication state");
        }

        var state = await AuthState;
        var identity = state.User.Identity;

        if (AuthenticationResolver.AuthenticationMethod is AuthenticationMethod.BuiltIn or AuthenticationMethod.Ldap)
        {
            if (identity is null || !identity.IsAuthenticated)
            {
                var redirectUrl = Uri.EscapeDataString(NavigationManager.ToBaseRelativePath(NavigationManager.Uri));
                var url = string.IsNullOrEmpty(redirectUrl)
                    ? "login"
                    : $"login?redirectUrl={redirectUrl}";
                NavigationManager.NavigateTo(url, true);
            }
        }
    }

    private void ToggleSidebar()
    {
        _collapseSidebar = !_collapseSidebar;
    }

    private async Task CollapseSidebar()
    {
        // Do not instantly close the sidebar, as this might look "funky" to the user.
        await Task.Delay(100);
        _collapseSidebar = true;
    }
}