@using Biflow.Ui.Icons
@using ES = Biflow.Core.Entities.ExecutionStatus

@{
    var (color, icon) = Badge;
    var badgeCss = $"bg-{color}-subtle border-{color}-subtle text-{color}-emphasis";
}

<span class="rounded border d-inline-flex align-items-center fw-semibold @badgeCss"
      style="font-size: 0.8em; padding: 0.1rem 0.3rem; border-width: 1.5px !important;">
    <SvgIcon Icon="icon" />
    <span class="ms-1">@ExecutionStatus</span>
</span>

@code {
    [Parameter] public ES? ExecutionStatus { get; set; }

    private (string Color, Svg Icon) Badge => ExecutionStatus switch
    {
        ES.Succeeded => ("success", LucideIcon.CircleCheck),
        ES.Failed => ("danger", LucideIcon.OctagonAlert),
        ES.Warning => ("warning", LucideIcon.TriangleAlert),
        ES.Stopped => ("warning", LucideIcon.OctagonX),
        ES.Suspended => ("warning", LucideIcon.TriangleAlert),
        ES.Running => ("primary", LucideIcon.Play),
        ES.NotStarted => ("secondary", LucideIcon.Clock),
        _ => ("", LucideIcon.CircleHelp)
    };
}