@using Biflow.Ui.Icons
@using ES = Biflow.Core.Entities.ExecutionStatus

@{
    var (color, icon) = Badge;
    var badgeCss = $"bg-{color}-subtle border-{color}-subtle text-{color}-emphasis";
}

<span class="rounded border d-inline-flex align-items-center fw-semibold @badgeCss"
      style="font-size: 0.8em; padding: 0.1rem 0.3rem; border-width: 1.5px !important;">
    <SvgIcon Icon="icon" />
    <span class="ms-1">@ExecutionStatus</span>
</span>

@code {
    [Parameter] public ES? ExecutionStatus { get; set; }

    private (string Color, Svg Icon) Badge => ExecutionStatus switch
    {
        ES.Succeeded => ("success", FeatherIcon.CheckCircle),
        ES.Failed => ("danger", FeatherIcon.AlertOctagon),
        ES.Warning => ("warning", FeatherIcon.AlertTriangle),
        ES.Stopped => ("warning", FeatherIcon.XOctagon),
        ES.Suspended => ("warning", FeatherIcon.AlertTriangle),
        ES.Running => ("primary", FeatherIcon.Play),
        ES.NotStarted => ("secondary", FeatherIcon.Clock),
        _ => ("", FeatherIcon.HelpCircle)
    };
}