
@{
    var (textClass, borderClass, icon) = ExecutionStatus switch
    {
        StepExecutionStatus.Succeeded => ("text-success", "border-success", FeatherIcon.CheckCircle),
        StepExecutionStatus.Warning => ("text-warning", "border-warning", FeatherIcon.AlertTriangle),
        StepExecutionStatus.Failed => ("text-danger", "border-danger", FeatherIcon.AlertOctagon),
        StepExecutionStatus.Stopped => ("text-warning", "border-warning", FeatherIcon.XOctagon),
        StepExecutionStatus.Duplicate => ("text-warning", "border-warning", FeatherIcon.AlertTriangle),
        StepExecutionStatus.AwaitRetry => ("text-warning", "border-warning", FeatherIcon.Repeat),
        StepExecutionStatus.Running => ("text-primary", "border-primary", FeatherIcon.Play),
        StepExecutionStatus.Skipped => ("text-secondary", "border-secondary", FeatherIcon.SkipForward),
        StepExecutionStatus.DependenciesFailed => ("text-warning", "border-warning", FeatherIcon.AlertCircle),
        StepExecutionStatus.Queued => ("text-secondary", "border-secondary", FeatherIcon.Clock),
        StepExecutionStatus.NotStarted => ("text-secondary", "border-secondary", FeatherIcon.Info),
        _ => ("", "", FeatherIcon.HelpCircle)
    };
}

<span class="rounded border d-inline-block fw-semibold @textClass @borderClass"
      style="font-size: 0.8rem; padding-left: 0.3rem; padding-right: 0.3rem; padding-top: 0.1rem; padding-bottom: 0.1rem; border-width: 1.5px !important;">
    <CxIcon Icon="icon" />
    @ExecutionStatus
</span>

@code {
    [Parameter] public StepExecutionStatus? ExecutionStatus { get; set; }
} 