<span @attributes="InputAttributes" class="badge d-inline-flex align-items-center py-1 px-2 @BadgeCss @CssClass @(Selected ? "text-decoration-underline" : null)" @onclick="OnClick">
    @Tag?.TagName
    @if (IsRemovable)
    {
        <span class="ms-1" @onclick="OnRemoveClick">
            <SvgIcon Icon="FeatherIcon.X" />
        </span>
    }
</span>

@code {
    [Parameter] public ITag? Tag { get; set; }

    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? InputAttributes { get;set; }

    [Parameter] public string? CssClass { get; set; }

    [Parameter] public EventCallback OnClick { get; set; }

    [Parameter] public bool Selected { get; set; }

    [Parameter] public bool IsRemovable { get; set; }

    [Parameter] public EventCallback OnRemoveClick { get; set; }

    private string? Color => Tag?.Color switch
    {
        TagColor.LightGray => "light",
        TagColor.DarkGray => "secondary",
        TagColor.Purple => "primary",
        TagColor.Green => "success",
        TagColor.Blue => "info",
        TagColor.Yellow => "warning",
        TagColor.Red => "danger",
        _ => null
    };

    private string BadgeCss => $"bg-{Color}-subtle border border-{Color}-subtle text-{Color}-emphasis";
}
