@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using System.Text.Json

@namespace Biflow.Ui.Components

@typeparam TItem

@implements IAsyncDisposable

@inject IJSRuntime JS
@inject ContextMenuService ContextMenu

<div @attributes="AdditionalAttributes" class="border" style="resize: both; overflow: hidden;">
    <div class="p-1 @CssClass">
        <svg id="@svgId" viewBox="0 0 2000 1000">
            <g @ref="graphContainer" id="g_dependency_graph" />
        </svg>
    </div>
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter] public IEnumerable<TItem>? Items { get; set; }

    [Parameter] public Func<string, TItem?>? ItemFromNodeIdSelector { get; set; }

    [Parameter] public RenderFragment<TItem>? ContextMenuTemplate { get; set; }

    [Parameter] public EventCallback AfterRender { get; set; }

    [Parameter] public string? CssClass { get; set; }

    private ElementReference graphContainer;
    private string svgId = $"svg-{Guid.NewGuid().ToString()}";
    private DotNetObjectReference<DependencyGraph<TItem>>? dotNetObject;
    private IJSObjectReference? jsObject;

    protected override void OnInitialized()
    {
        dotNetObject = DotNetObjectReference.Create(this);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsObject = await JS.InvokeAsync<IJSObjectReference>("import", "./_content/Biflow.Ui.Components/DependencyGraph.js");
            await AfterRender.InvokeAsync();
        }
    }

    public async Task DrawAsync(IEnumerable<DependencyGraphNode> nodes, IEnumerable<DependencyGraphEdge> edges)
    {
        ArgumentNullException.ThrowIfNull(jsObject);
        ArgumentNullException.ThrowIfNull(dotNetObject);
        var nodesJson = JsonSerializer.Serialize(nodes);
        var edgesJson = JsonSerializer.Serialize(edges);
        await jsObject.InvokeVoidAsync("drawDependencyGraph", dotNetObject, graphContainer, svgId, nodesJson, edgesJson);
    }

    [JSInvokable]
    public void OnNodeClick(string nodeId, int pageX, int pageY)
    {
        if (ContextMenuTemplate is null || ItemFromNodeIdSelector is null)
        {
            return;
        }
        var mouseEvent = new MouseEventArgs { ClientX = pageX, ClientY = pageY };
        var item = ItemFromNodeIdSelector(nodeId);
        if (item is null)
        {
            return;
        }
        var template = ContextMenuTemplate(item);
        _ = ContextMenu.ShowContextMenuAsync(mouseEvent, template);
    }

    public async ValueTask DisposeAsync()
    {
        if (jsObject is not null)
        {
            await jsObject.DisposeAsync();
        }
        dotNetObject?.Dispose();
    }
}