@inject IDbContextFactory<EtlManagerContext> DbFactory
@inject IConfiguration configuration

<BSModal @ref="Modal" Size="Size.Large">
    @if (DataFactory != null)
    {
        <BSModalHeader OnClick="() => Modal.Hide()">@(DataFactoryId == Guid.Empty ? "New Data Factory" : "Edit " + DataFactory.DataFactoryName)</BSModalHeader>
        <BSModalBody>
            <BSForm Model="DataFactory" id="df_edit_form" OnValidSubmit="SubmitDataFactory">
                <div class="row">
                    <div class="col mx-3">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <BSFormGroup>
                            <BSLabel>Data Factory name</BSLabel>
                            <InputText class="form-control" @bind-Value="DataFactory.DataFactoryName"></InputText>
                        </BSFormGroup>

                        <BSFormRow>
                            <BSFormGroup Class="col-md">
                                <BSLabel>Tenant id</BSLabel>
                                <InputText class="form-control" @bind-Value="DataFactory.TenantId"></InputText>
                            </BSFormGroup>
                            <BSFormGroup Class="col-md">
                                <BSLabel>Subscription id</BSLabel>
                                <InputText class="form-control" @bind-Value="DataFactory.SubscriptionId"></InputText>
                            </BSFormGroup>
                        </BSFormRow>

                        <BSFormRow>
                            <BSFormGroup Class="col-md">
                                <BSLabel>Resource group name</BSLabel>
                                <InputText class="form-control" @bind-Value="DataFactory.ResourceGroupName"></InputText>
                            </BSFormGroup>
                            <BSFormGroup Class="col-md">
                                <BSLabel>Resource name</BSLabel>
                                <InputText class="form-control" @bind-Value="DataFactory.ResourceName"></InputText>
                            </BSFormGroup>
                        </BSFormRow>

                        <BSFormRow>
                            <BSFormGroup Class="col-md">
                                <BSLabel>Client id</BSLabel>
                                <InputText class="form-control" @bind-Value="DataFactory.ClientId"></InputText>
                            </BSFormGroup>
                            <BSFormGroup Class="col-md">
                                <BSLabel>Client secret</BSLabel>
                                <InputText class="form-control" @bind-Value="DataFactory.ClientSecret" placeholder="@(DataFactoryId == Guid.Empty ? null : "Encrypted")"></InputText>
                            </BSFormGroup>
                        </BSFormRow>

                    </div>
                </div>
            </BSForm>
        </BSModalBody>
    }
    <BSModalFooter>
        <BSButton ButtonType="ButtonType.Submit" form="df_edit_form" Color="Color.Success">@(DataFactoryId == Guid.Empty ? "Create" : "Save")</BSButton>
        <BSButton Color="Color.Secondary" @onclick="() => Modal.Hide()">Cancel</BSButton>
    </BSModalFooter>
</BSModal>

@code {
    [Parameter]
    public Guid DataFactoryId { get; set; } // empty Guid => new Data Factory

    [Parameter]
    public EventCallback<DataFactory> OnDataFactorySubmit { get; set; }

    private DataFactory DataFactory { get; set; }

    private BSModal Modal { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (DataFactoryId != Guid.Empty)
        {
            var context = DbFactory.CreateDbContext();
            DataFactory = await context.DataFactories.FindAsync(DataFactoryId);
        }
        else
        {
            DataFactory = new();
        }
    }

    private async Task SubmitDataFactory()
    {
        await OnDataFactorySubmit.InvokeAsync(DataFactory);
        Modal.Hide();
    }

    public void Show() => Modal.Show();
}
