@implements IDisposable
@implements IStepEditModal
@inject MarkupHelperService MarkupHelper
@inject IDbContextFactory<EtlManagerContext> DbFactory

<StepEditModalBase @ref="Modal"
                   Job="Job"
                   Steps="Steps"
                   Step="Step"
                   Context="Context"
                   OnStepSubmit="OnStepSubmit"
                   FormId="exe_step_edit_modal">
    <div class="row mt-3">
        <div class="col">
            <label class="form-label">File path</label>
            <div class="input-group">
                <div class="input-group-text">
                    @MarkupHelper.FromFile("icons/feather/file.svg")
                </div>
                <InputText class="form-control" @bind-Value="Step.ExeFileName" @oninput="Modal.ResetStepError"></InputText>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label class="form-label">Arguments</label>
            <div class="input-group">
                <div class="input-group-text">
                    @MarkupHelper.FromFile("icons/feather/command.svg")
                </div>
                <InputText class="form-control" @bind-Value="Step.ExeArguments" @oninput="Modal.ResetStepError"></InputText>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label class="form-label">Working directory</label>
            <div class="input-group">
                <div class="input-group-text">
                    @MarkupHelper.FromFile("icons/feather/folder.svg")
                </div>
                <InputText class="form-control" @bind-Value="Step.ExeWorkingDirectory" @oninput="Modal.ResetStepError"></InputText>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-6">
            <label class="form-label">Success exit code (blank if not applicable)</label>
            <div class="input-group">
                <div class="input-group-text">
                    @MarkupHelper.FromFile("icons/feather/check-circle.svg")
                </div>
                <InputNumber class="form-control" @bind-Value="Step.ExeSuccessExitCode" @oninput="Modal.ResetStepError"></InputNumber>
            </div>
        </div>
    </div>
</StepEditModalBase>


@code {

    [Parameter]
    public Guid StepId { get; set; } // empty Guid => new step

    [Parameter]
    public Job? Job { get; set; }

    [Parameter]
    public IList<Step>? Steps { get; set; }

    [Parameter]
    public EventCallback<Step> OnStepSubmit { get; set; }

    // Use the same context to read and write to enable change tracking for all step child properties (e.g. parameters and dependencies).
    private EtlManagerContext Context { get; set; } = null!;

    private Guid PrevStepId { get; set; }

    private ExeStep Step { get; set; } = null!;

    private StepEditModalBase Modal { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        await LoadData();
    }

    private async Task ResetContext()
    {
        if (Context is not null)
            await Context.DisposeAsync();

        Context = DbFactory.CreateDbContext();
    }

    private async Task LoadData()
    {
        if (StepId != Guid.Empty && StepId != PrevStepId)
        {
            await ResetContext();
            Step = await Context.ExeSteps
                .Include(step => step.Tags)
                .Include(step => step.Dependencies)
                .FirstAsync(step => step.StepId == StepId);
            PrevStepId = StepId;
        }
        else if (StepId == Guid.Empty && Job is not null)
        {
            await ResetContext();
            Step = new()
            {
                JobId = Job.JobId,
                RetryAttempts = 0,
                RetryIntervalMinutes = 0,
                IsEnabled = true,
                Dependencies = new List<Dependency>(),
                Tags = new List<Tag>()
            };
        }
        StateHasChanged();
    }

    public async Task ShowAsync(bool showDependencies) => await Modal.ShowAsync(showDependencies);

    public void Dispose() => Context?.Dispose();

}
