@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject IHxMessengerService Messenger
@inject IMediator Mediator

@{
    var title = category.CategoryId == Guid.Empty ? "New category" : $"Edit {category.CategoryName}";
}

<HxOffcanvas @ref="modal" Title="@title" Size="OffcanvasSize.Regular">
    <BodyTemplate>
        <EditForm id="category_edit_form" Model="category" OnValidSubmit="SubmitAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div>
                <label class="form-label">Category name</label>
                <InputText class="form-control" @bind-Value="category.CategoryName"></InputText>
            </div>
        </EditForm>
    </BodyTemplate>
    <FooterTemplate>
        <HxSubmit FormId="category_edit_form" Color="ThemeColor.Success">
            Save
        </HxSubmit>
        <HxButton CssClass="ms-3" Color="ThemeColor.Secondary" OnClick="() => modal.LetAsync(x => x.HideAsync())" Spinner="false">
            Cancel
        </HxButton>
    </FooterTemplate>
</HxOffcanvas>

@code {
    [Parameter] public EventCallback<MasterDataTableCategory> OnCategorySubmitted { get; set; }

    private HxOffcanvas? modal;
    private MasterDataTableCategory category = new();

    public async Task ShowAsync(MasterDataTableCategory? category = null)
    {
        if (category is null)
        {
            this.category = new();
            await modal.LetAsync(x => x.ShowAsync());
            return;
        }
        using var context = await DbContextFactory.CreateDbContextAsync();
        this.category = await context.MasterDataTableCategories.FirstAsync(c => c.CategoryId == category.CategoryId);
        await modal.LetAsync(x => x.ShowAsync());
    }

    public async Task SubmitAsync()
    {
        try
        {
            IRequest command = category.CategoryId == Guid.Empty
                ? new CreateDataTableCategoryCommand(category)
                : new UpdateDataTableCategoryCommand(category);
            await Mediator.Send(command);
            await OnCategorySubmitted.InvokeAsync(category);
            await modal.LetAsync(x => x.HideAsync());
        }
        catch (Exception ex)
        {
            Messenger.AddError("Error saving category", ex.Message);
        }
    }
}
