@page "/"

@using Microsoft.AspNetCore.Components.Web
@namespace Biflow.Ui.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biflow</title>
    <base href="~/" />
    <link href="_content/Havit.Blazor.Components.Web.Bootstrap/defaults.css" rel="stylesheet" />
    <link href="/scss/bootstrap.custom.min.css" rel="stylesheet" />
    <link href="BiflowUi.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body class="bg-body">
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui" class="alert alert-danger alert-dismissible">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload alert-link">Reload</a>
        <button type="button" class="btn-close dismiss" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    @*Used to draw the dependencies between different steps.*@
    <script src="/lib/d3/d3.min.js"></script>
    <script src="/lib/dagre-d3/dagre-d3.min.js"></script>

    @*Used to draw the dashboard page reports.*@
    <script src="/lib/Chart.js/chart.min.js"></script>
    <script src="/lib/moment.js/moment.min.js"></script>
    <script src="/lib/chartjs-adapter-moment/chartjs-adapter-moment.min.js"></script>

    <script src="/lib/highlight.js/highlight.min.js"></script>
    <script src="/lib/highlight.js-tsql/tsql.min.js"></script>

    <script src="/js/site.js"></script>
    <script src="/js/theme.js"></script>

    @*Load Blazor scripts last to make sure any referenced JS functions have been loaded first.*@
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
