@page "/account"

@using System.Globalization

@inject IDbContextFactory<AppDbContext> DbFactory
@inject IMediator Mediator
@inject ToasterService Toaster
@inject AuthenticationMethodResolver AuthenticationResolver
@inject NavigationManager NavigationManager

<PageTitle>Account | Biflow</PageTitle>

<h4>Account</h4>

<div class="row mt-4">
    <div class="col-auto">
        <h5>Username:</h5>
    </div>
    <div class="col-auto">
        <h5>@_username</h5>
    </div>
</div>
<div class="row mt-2">
    <div class="col-auto">
        <h6>Roles:</h6>
    </div>
    <div class="col-auto">
        <h6>@string.Join(", ", _user?.Roles ?? [])</h6>
    </div>
</div>
<div class="row mt-2 align-items-center">
    <div class="col-auto">
        <label class="form-label mb-0">Locale:</label>
    </div>
    <div class="col-auto">
        <select class="form-select form-select-sm" @bind="_selectedCulture" @bind:after="ApplySelectedCulture">
            @foreach (var culture in SupportedCultures)
            {
                <option value="@culture">@culture.DisplayName</option>
            }
        </select>
    </div>
</div>


<div class="row mt-3">
    <div class="col-lg-6">
        <div class="card shadow-sm">
            <h6 class="card-header">
                <SvgIcon Icon="FeatherIcon.AtSign" />
                Email
            </h6>
            <div class="card-body">
                @if (_user is null)
                {
                    <div class="row">
                        <div class="col text-center">
                            <HxSpinner Color="ThemeColor.Secondary" />
                        </div>
                    </div>
                }
                else
                {
                    <EditForm class="mt-3" Model="_user" OnValidSubmit="SubmitEmail">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <SvgIcon Icon="FeatherIcon.AtSign" />
                                </div>
                                <InputText class="form-control" type="email" @bind-Value="_user.Email" placeholder="Email"></InputText>
                            </div>
                        </div>
                        <div>
                            <HxSubmit Color="ThemeColor.Success">
                                <SvgIcon Icon="FeatherIcon.Save" />
                                Save
                            </HxSubmit>
                        </div>
                    </EditForm>
                }
            </div>
        </div>
    </div>
    @if (AuthenticationResolver.AuthenticationMethod == AuthenticationMethod.BuiltIn)
    {
        <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="card shadow-sm">
                <h6 class="card-header">
                    <SvgIcon Icon="FeatherIcon.Key" />
                    Password
                </h6>
                <div class="card-body">
                    @if (_user is null)
                    {
                        <div class="row">
                            <div class="col text-center">
                                <HxSpinner Color="ThemeColor.Secondary" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <EditForm Model="_passwordModel" OnValidSubmit="UpdatePassword">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div>
                                <label class="form-label">Old password</label>
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <SvgIcon Icon="FeatherIcon.Unlock" />
                                    </div>
                                    <InputText class="form-control" type="password" @bind-Value="_passwordModel.OldPassword"></InputText>
                                </div>
                            </div>
                            <div>
                                <label class="form-label">New password</label>
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <SvgIcon Icon="FeatherIcon.Lock" />
                                    </div>
                                    <InputText class="form-control" type="password" @bind-Value="_passwordModel.Password"></InputText>
                                </div>
                            </div>
                            <div>
                                <label class="form-label">Confirm new password</label>
                                <div class="input-group">
                                    <div class="input-group-text rounded-left">
                                        <SvgIcon Icon="FeatherIcon.Key" />
                                    </div>
                                    <InputText class="form-control" type="password" @bind-Value="_passwordModel.ConfirmPassword"></InputText>
                                </div>
                            </div>
                            <div>
                                <HxSubmit Color="ThemeColor.Success">
                                    <SvgIcon Icon="FeatherIcon.Save" />
                                    Save
                                </HxSubmit>
                            </div>
                        </EditForm>
                    }
                </div>
            </div>
        </div>
    }
</div>


@code {
    [CascadingParameter] public Task<AuthenticationState>? AuthenticationState { get; set; }

    private static readonly CultureInfo[] SupportedCultures = CultureInfo.GetCultures(CultureTypes.AllCultures);
    
    private string? _username;
    private User? _user;
    private PasswordModel _passwordModel = new();
    private CultureInfo? _selectedCulture;

    protected override async Task OnInitializedAsync()
    {
        _selectedCulture = CultureInfo.CurrentCulture;

        ArgumentNullException.ThrowIfNull(AuthenticationState);
        var state = await AuthenticationState;
        _username = state.User.Identity?.Name;
        await using var context = await DbFactory.CreateDbContextAsync();
        _user = await context.Users
            .AsNoTrackingWithIdentityResolution()
            .Include(u => u.Subscriptions)
            .FirstAsync(u => u.Username == _username);
    }

    private async Task SubmitEmail()
    {
        try
        {
            ArgumentNullException.ThrowIfNull(_user);
            await Mediator.SendAsync(new UpdateUserEmailCommand(_user.UserId, _user.Email));
            Toaster.AddSuccess("Email updated successfully");
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error saving email", ex.Message);
        }
    }

    private async Task UpdatePassword()
    {
        if (_username is null)
        {
            Toaster.AddError("Error", "Error getting username from authentication state");
            return;
        }

        if (!_passwordModel.Password.Equals(_passwordModel.ConfirmPassword))
        {
            Toaster.AddWarning("Warning", "The two passwords do not match");
            return;
        }

        try
        {
            await Mediator.SendAsync(new UpdateUserPasswordCommand(_username, _passwordModel.OldPassword, _passwordModel.Password));
            Toaster.AddSuccess("Success", "Password updated successfully");
            _passwordModel = new();
        }
        catch (Exception ex)
        {
            Toaster.AddError("Error updating password", ex.Message);
        }
    }

    private void ApplySelectedCulture()
    {
        if (_selectedCulture is null || Equals(CultureInfo.CurrentCulture, _selectedCulture))
        {
            return;
        }
        
        var uri = new Uri(NavigationManager.Uri)
            .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
        var cultureEscaped = Uri.EscapeDataString(_selectedCulture.Name);
        var uriEscaped = Uri.EscapeDataString(uri);

        // Navigate to the culture controller set endpoint which sets the culture cookie.
        NavigationManager.NavigateTo(
            $"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}",
            forceLoad: true);
    }

    private class PasswordModel
    {
        [Required]
        public string OldPassword { get; set; } = "";

        [Required, ComplexPassword]
        public string Password { get; set; } = "";

        [Required]
        public string ConfirmPassword { get; set; } = "";
    }
}
