@page "/datatables/{Page?}/{TableId:guid?}"

@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Data Tables | Biflow</PageTitle>


@switch (Page)
{
    case null:
        <DataTablesList Tables="_tables" Categories="_categories" Connections="_connections" />
        break;
    case "edit":
        <DataTableEditor Table="_table" />
        break;
    case "import":
        <DataTableImport TableId="TableId" />
        break;
    default:
        <p>Sorry, nothing at this address.</p>
        break;
}

@code {
    [Parameter] public string? Page { get; set; }

    [Parameter] public Guid? TableId { get; set; }

    private MasterDataTable? _table;
    private List<MasterDataTable>? _tables;
    private List<MsSqlConnection>? _connections;
    private List<MasterDataTableCategory>? _categories;

    protected override async Task OnInitializedAsync()
    {
        await using var context = await Task.Run(DbContextFactory.CreateDbContext);
        _tables = await context.MasterDataTables
            .AsNoTrackingWithIdentityResolution()
            .Include(t => t.Category)
            .Include(t => t.Connection)
            .ThenInclude(c => c.Credential)
            .Include(t => t.Lookups)
            .OrderBy(t => t.DataTableName)
            .ToListAsync();

        var lookupTableIds = _tables
            .SelectMany(t => t.Lookups)
            .Select(l => l.LookupTableId)
            .Distinct()
            .ToList();

        // Instead of including lookup tables in the main query, fetch them here with IgnoreQueryFilters().
        // This way we can ensure that all lookups are included even if the user has no authorization on all data tables.
        var lookupTables = await context.MasterDataTables
            .AsNoTrackingWithIdentityResolution()
            .IgnoreQueryFilters()
            .Include(t => t.Connection)
            .ThenInclude(c => c.Credential)
            .Where(t => lookupTableIds.Contains(t.DataTableId))
            .ToListAsync();

        // Map lookup tables to the main tables list.
        foreach (var table in _tables)
        {
            foreach (var lookup in table.Lookups)
            {
                var lt = lookupTables.FirstOrDefault(t => t.DataTableId == lookup.LookupTableId);
                if (lt is not null)
                {
                    lookup.LookupTable = lt;
                }
            }
        }

        // For admins and editors, show all available table categories.
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.IsInRole(Roles.Admin) || authState.User.IsInRole(Roles.Editor))
        {
            _categories = await context.MasterDataTableCategories
                .AsNoTrackingWithIdentityResolution()
                .OrderBy(c => c.CategoryName)
                .ToListAsync();
        }
        // For other users, only show categories for jobs they are authorized to see.
        else
        {
            _categories = _tables
                .Select(j => j.Category)
                .Where(c => c is not null)
                .Cast<MasterDataTableCategory>()
                .DistinctBy(c => c.CategoryId)
                .ToList();
        }
        _connections = await context.MsSqlConnections
            .AsNoTrackingWithIdentityResolution()
            .Include(c => c.Credential)
            .OrderBy(c => c.ConnectionName)
            .ToListAsync();
    }

    protected override void OnParametersSet()
    {
        _table = _tables?.FirstOrDefault(t => t.DataTableId == TableId);
    }
}
