@page "/"

@using System.Reflection
@inject IConfiguration Configuration

<h5>Welcome to Biflow!</h5>

<div class="row px-4 mt-3">
    <dl>
        <dt>Environment</dt>
        <dd>@(Configuration.GetValue<string>("EnvironmentName"))</dd>
        <dt>Version</dt>
        <dd>v@(Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion)</dd>
        <dt>Commit SHA</dt>
        <dd>@Biflow.Ui.Properties.Resources.CurrentCommit</dd>
    </dl>
</div>
