@page "/"

@using System.Reflection
@inject IConfiguration Configuration

<div class="row">
    <div class="col p-5" style="position: relative;">
        <img src="/images/vanamo.svg" style="position: absolute; top: 60px; left: 0; right:0; margin-left: auto; margin-right: auto; z-index: -1; max-height: 700px; opacity: 0.25;" />
        <h2 style="font-family: Poppins;"><span class="fw-bold">vanamo</span> data orchestrator</h2>
        <dl>
            <dt>Environment</dt>
            <dd>@(Configuration.GetValue<string>("EnvironmentName"))</dd>
            <dt>Version</dt>
            <dd>v@(Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion)</dd>
            <dt>Commit SHA</dt>
            <dd>@Biflow.Ui.Properties.Resources.CurrentCommit</dd>
        </dl>
    </div>
        
</div>
