@page "/"

@using System.Reflection
@inject IConfiguration Configuration

<div class="row mt-5 pb-5 align-items-center">
    <div class="col-auto" style="padding-left: 4rem; padding-right: 4rem;">
        <h2 style="font-family: Poppins;"><span class="fw-bold">vanamo</span> data orchestrator</h2>
        <dl>
            <dt>Environment</dt>
            <dd>@(Configuration.GetValue<string>("EnvironmentName"))</dd>
            <dt>Version</dt>
            <dd>v@(Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion)</dd>
        </dl>
    </div>
    <div class="col-xxl mt-4 mt-xxl-0 d-flex justify-content-start border-xxl-start" style="padding-left: 4rem; padding-right: 4rem;">
        <img src="/images/vanamo.svg" style="max-width: 400px;" />
    </div>
</div>
