::deep tr.job-row:hover {
    background-color: var(--bs-table-hover-bg);
}

::deep tr.job-row.disabled {
    background-color: var(--bs-tertiary-bg);
}

tr a {
    text-decoration: none;
}

tr:hover a {
    text-decoration: underline;
}
