@page "/schedules/{Component?}"

@implements IDisposable

@inject IDbContextFactory<AppDbContext> DbFactory
@inject ToasterService Toaster
@inject ISchedulerService SchedulerService

<style>
    tr a {
        text-decoration: none;
    }

        tr a:hover {
            text-decoration: underline;
        }

    .white-space-pre {
        white-space: pre;
    }
</style>

<PageTitle>Schedules | Biflow</PageTitle>

<h4>Schedules</h4>

<div class="row mt-3 mb-4">
    <div class="col">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <NavLink class="nav-link" Match="NavLinkMatch.All" href="@($"schedules")">
                    <CxIcon Icon="FeatherIcon.List" />
                    List
                </NavLink>
            </li>
            <li class="nav-item" role="presentation">
                <NavLink class="nav-link" Match="NavLinkMatch.All" href="@($"schedules/graph")">
                    <CxIcon Icon="LucideIcon.BarChartHorizontal" />
                    Graph
                </NavLink>
            </li>
        </ul>
    </div>
</div>

@{
    var filterJobs = schedules?
        .Where(s => UserState.Schedules.ScheduleTagFilter.Count == 0 || s.Tags.Any(t1 => UserState.Schedules.ScheduleTagFilter.Any(t2 => t1.TagId == t2.TagId)))
        .Select(s => s.Job)
        .Where(j => UserState.Schedules.JobTagFilter.Count == 0 || j.Tags.Any(t1 => UserState.Schedules.JobTagFilter.Any(t2 => t1.TagId == t2.TagId)))
        .Select(j => (j.JobId, j.JobName))
        .Concat(UserState.Schedules.JobFilter)
        .Distinct()
        .OrderBy(j => j.JobName)
        .AsEnumerable()
        ?? [];
    var filterJobTags = schedules?
        .Where(s => UserState.Schedules.ScheduleTagFilter.Count == 0 || s.Tags.Any(t1 => UserState.Schedules.ScheduleTagFilter.Any(t2 => t1.TagId == t2.TagId)))
        .Select(s => s.Job)
        .Where(j => UserState.Schedules.JobFilter.Count == 0 || UserState.Schedules.JobFilter.Any(f => f.JobId == j.JobId))
        .SelectMany(j => j.Tags)
        .Select(t => new TagProjection(t.TagId, t.TagName, t.Color))
        .Concat(UserState.Jobs.TagFilter)
        .Distinct()
        .OrderBy(t => t.TagName)
        .AsEnumerable() ?? [];
    var filterScheduleTags = schedules?
        .Where(s => UserState.Schedules.JobTagFilter.Count == 0 || s.Job.Tags.Any(t1 => UserState.Schedules.JobTagFilter.Any(t2 => t1.TagId == t2.TagId)))
        .Where(s => UserState.Schedules.JobFilter.Count == 0 || UserState.Schedules.JobFilter.Any(f => f.JobId == s.JobId))
        .SelectMany(s => s.Tags)
        .Select(t => new TagProjection(t.TagId, t.TagName, t.Color))
        .Distinct()
        .OrderBy(t => t.TagName)
        .AsEnumerable() ?? [];
}

<div class="row">
    <div class="col-auto d-flex align-items-center">
        <CxIcon Icon="FeatherIcon.Filter" />
        &nbsp;
        Filters
    </div>
    <div class="col-auto">
        <HxButtonGroup Size="ButtonGroupSize.Small">
            <FilterDropdown TItem="(Guid JobId, string JobName)"
                            FilterSet="UserState.Schedules.JobFilter"
                            Items="filterJobs"
                            IdSelector="j => j.JobId.ToString()"
                            TextSelector="j => j.JobName"
                            IsSearchable
                            DelayItemsRender
                            OnChange="StateHasChanged">
                <TitleTemplate>
                    <CxIcon Icon="LucideIcon.ClipboardList" />
                    Job
                </TitleTemplate>
            </FilterDropdown>
            <FilterDropdown TItem="TagProjection"
                            FilterSet="UserState.Schedules.JobTagFilter"
                            Items="filterJobTags"
                            IdSelector="t => t.TagId.ToString()"
                            TextSelector="t => t.TagName"
                            OnChange="StateHasChanged">
                <TitleTemplate>
                    <CxIcon Icon="FeatherIcon.Tag" />
                    Job tag
                </TitleTemplate>
                <ItemTemplate Context="item">
                    <TagBadge Tag="item" />
                </ItemTemplate>
            </FilterDropdown>
            <FilterDropdown TItem="TagProjection"
                            FilterSet="UserState.Schedules.ScheduleTagFilter"
                            Items="filterScheduleTags"
                            IdSelector="t => t.TagId.ToString()"
                            TextSelector="t => t.TagName"
                            OnChange="StateHasChanged">
                <TitleTemplate>
                    <CxIcon Icon="FeatherIcon.Tag" />
                    Schedule tag
                </TitleTemplate>
                <ItemTemplate Context="item">
                    <TagBadge Tag="item" />
                </ItemTemplate>
            </FilterDropdown>
        </HxButtonGroup>
    </div>
    <div class="col">
        <div class="input-group input-group-sm">
            <div class="input-group-text">
                <CxIcon Icon="FeatherIcon.Search" />
            </div>
            <input type="search"
                   class="form-control form-control-sm"
                   placeholder="Search schedules"
                   style="max-width: 20rem;"
                   @bind-value="UserState.Schedules.ScheduleFilter"
                   @bind-value:event="oninput" />
        </div>
    </div>
</div>

@if (Component is null)
{
    <SchedulesList Schedules="schedules" Jobs="jobs" FilteredSchedules="FilteredSchedules" OnSchedulesChanged="StateHasChanged" />
}
else if (Component == "graph")
{
    <SchedulesGraph Schedules="schedules" FilteredSchedules="FilteredSchedules" OnSchedulesChanged="StateHasChanged" />
}
else
{
    <p>No component to display with component parameter @Component</p>
}

@code {
    [CascadingParameter] public UserState UserState { get; set; } = null!;

    [Parameter] public string? Component { get; set; }

    private readonly CancellationTokenSource cts = new();

    private List<Job>? jobs;
    private List<Schedule>? schedules;

    private IEnumerable<Schedule>? FilteredSchedules =>
        schedules?
        .Where(s => !UserState.Schedules.JobFilter.Any() || UserState.Schedules.JobFilter.Any(f => f.JobId == s.JobId))
        .Where(s => !UserState.Schedules.JobTagFilter.Any() || UserState.Schedules.JobTagFilter.Any(f => s.Job.Tags.Any(t => t.TagId == f.TagId)))
        .Where(s => !UserState.Schedules.ScheduleTagFilter.Any() || UserState.Schedules.ScheduleTagFilter.Any(f => s.Tags.Any(t => t.TagId == f.TagId)))
        .Where(s => string.IsNullOrEmpty(UserState.Schedules.ScheduleFilter) || s.ScheduleName.ContainsIgnoreCase(UserState.Schedules.ScheduleFilter));

    protected override async Task OnInitializedAsync()
    {
        using var context = await Task.Run(DbFactory.CreateDbContext);
        jobs = await context.Jobs
            .Include(j => j.Tags)
            .OrderBy(job => job.JobName)
            .ToListAsync(cts.Token);
        schedules = await context.Schedules
            .Include(schedule => schedule.Job)
            .ThenInclude(j => j.Tags)
            .Include(schedule => schedule.Tags)
            .Include(schedule => schedule.TagFilter)
            .OrderBy(schedule => schedule.Job.JobName)
            .ThenBy(schedule => schedule.ScheduleName)
            .ToListAsync(cts.Token);
    }

    public void Dispose()
    {
        cts.Cancel();
        cts.Dispose();
    }
}
