@page "/schedules/{Component?}"

@implements IDisposable

@inject IDbContextFactory<AppDbContext> DbFactory
@inject ToasterService Toaster
@inject ISchedulerService SchedulerService

<style>
    tr a {
        text-decoration: none;
    }

        tr a:hover {
            text-decoration: underline;
        }

    .white-space-pre {
        white-space: pre;
    }
</style>

<PageTitle>Schedules | Biflow</PageTitle>

<h4>Schedules</h4>

<div class="row mt-3 mb-4">
    <div class="col">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <NavLink class="nav-link" Match="NavLinkMatch.All" href="@($"schedules")">
                    <CxIcon Icon="FeatherIcon.List" />
                    List
                </NavLink>
            </li>
            <li class="nav-item" role="presentation">
                <NavLink class="nav-link" Match="NavLinkMatch.All" href="@($"schedules/graph")">
                    <CxIcon Icon="LucideIcon.BarChartHorizontal" />
                    Graph
                </NavLink>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <FilterDropdown TItem="Job"
                        FilterSet="jobFilter"
                        Items="jobs?.Where(j => schedules?.Any(s => s.JobId == j.JobId) ?? false) ?? Enumerable.Empty<Job>()"
                        IdSelector="j => j.JobId.ToString()"
                        TextSelector="j => j.JobName"
                        IsSearchable
                        OnChange="StateHasChanged">
            <TitleTemplate>
                <CxIcon Icon="FeatherIcon.Filter" />
                Job
            </TitleTemplate>
        </FilterDropdown>
    </div>
</div>

@if (Component is null)
{
    <SchedulesList Schedules="schedules" Jobs="jobs" FilteredSchedules="FilteredSchedules" OnSchedulesChanged="StateHasChanged" />
}
else if (Component == "graph")
{
    <SchedulesGraph Schedules="schedules" FilteredSchedules="FilteredSchedules" OnSchedulesChanged="StateHasChanged" />
}
else
{
    <p>No component to display with component parameter @Component</p>
}

@code {
    [Parameter] public string? Component { get; set; }

    private readonly HashSet<Job> jobFilter = new();
    private readonly CancellationTokenSource cts = new();

    private List<Job>? jobs;
    private List<Schedule>? schedules;

    private IEnumerable<Schedule>? FilteredSchedules =>
        schedules
        ?.Where(s => !jobFilter.Any() || jobFilter.Any(f => f.JobId == s.JobId));

    protected override async Task OnInitializedAsync()
    {
        using var context = await Task.Run(DbFactory.CreateDbContext);
        jobs = await context.Jobs
            .Include(j => j.Category)
            .OrderBy(job => job.JobName)
            .ToListAsync(cts.Token);
        schedules = await context.Schedules
            .AsNoTrackingWithIdentityResolution()
            .Include(schedule => schedule.Job)
            .Include(schedule => schedule.Tags)
            .OrderBy(schedule => schedule.Job.JobName)
            .ThenBy(schedule => schedule.ScheduleName)
            .ToListAsync(cts.Token);
    }

    public void Dispose()
    {
        cts.Cancel();
        cts.Dispose();
    }
}
