@page "/settings/{Page?}"

@attribute [Authorize(Roles = Roles.Admin)]

@inject IConfiguration Configuration

<h4>Settings</h4>

<ul class="nav nav-tabs nav-fill mt-3 mb-4" role="tablist">
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings" Match="NavLinkMatch.All">
            <CxIcon Icon="FeatherIcon.Users" />
            Users
        </NavLink>
    </li>
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings/subscriptions">
            <CxIcon Icon="FeatherIcon.Mail" />
            Subscriptions
        </NavLink>
    </li>
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings/connections">
            <CxIcon Icon="FeatherIcon.Database" />
            Connections
        </NavLink>
    </li>
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings/appregistrations">
            <CxIcon Icon="FeatherIcon.Globe" />
            App registrations
        </NavLink>
    </li>
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings/pipelineclients">
            <CxIcon Icon="FeatherIcon.Pipeline" />
            Pipeline clients
        </NavLink>
    </li>
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings/functionapps">
            <CxIcon Icon="FeatherIcon.Zap" />
            Function Apps
        </NavLink>
    </li>
    <li class="nav-item" role="presentation">
        <NavLink class="nav-link" href="settings/qlikcloudclients">
            Qlik Cloud Clients
        </NavLink>
    </li>
</ul>

@if (Page is null)
{
    <UsersComponent />
}
else if (Page == "subscriptions")
{
    <AllSubscriptions />
}
else if (Page == "connections")
{
    <ConnectionsComponent />
}
else if (Page == "appregistrations")
{
    <AppRegistrationsComponent />
}
else if (Page == "pipelineclients")
{
    <PipelineClientsComponent />
}
else if (Page == "functionapps")
{
    <FunctionAppsComponent />
}
else if (Page == "qlikcloudclients")
{
    <QlikCloudClientsComponent />
}
else
{
    <p>Sorry, nothing at this address.</p>
}

@code {
    [Parameter]
    public string? Page { get; set; }
}
