@page "/versions/{Page?}/{VersionId:int?}"

@attribute [Authorize(Roles = $"{Roles.Admin}, {Roles.VersionManager}, {Roles.Editor}")]

@inject IDbContextFactory<AppDbContext> DbContextFactory

<PageTitle>Versions | Biflow</PageTitle>

<h4>Versions</h4>

@if (Page is null or "compare" or "help")
{
    <div class="row mt-3 mb-4">
        <div class="col">
            <ul class="nav nav-underline" role="tablist">
                <li class="nav-item" role="presentation">
                    <NavLink class="nav-link" href="versions" Match="NavLinkMatch.All">
                        <SvgIcon Icon="LucideIcon.List" />
                        List
                    </NavLink>
                </li>
                <li class="nav-item" role="presentation">
                    <NavLink class="nav-link" href="versions/compare">
                        <SvgIcon Icon="LucideIcon.GitCompareArrows" />
                        Compare
                    </NavLink>
                </li>
                <li class="nav-item" role="presentation">
                    <NavLink class="nav-link" href="versions/help">
                        <SvgIcon Icon="LucideIcon.CircleHelp" />
                        Help
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
}


@switch (Page)
{
    case null:
        <VersionsList Versions="_versions" />
        break;
    case "compare":
        <VersionsCompare Versions="_versions" InitialSourceVersionId="VersionId" />
        break;
    case "help":
        <VersionsHelp />
        break;
    case "revert":
        <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.VersionManager}")">
            <VersionRevert VersionId="VersionId" />
        </AuthorizeView>
        break;
    case "revertjson":
        <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.VersionManager}")">
            <VersionRevertJson />
        </AuthorizeView>
        break;
}

@code {
    [Parameter] public string? Page { get; set; }

    [Parameter] public int? VersionId { get; set; }

    private IList<VersionProjection>? _versions;

    protected override async Task OnInitializedAsync()
    {
        await using var context = await DbContextFactory.CreateDbContextAsync();
        _versions = await context.EnvironmentVersions
            .OrderByDescending(v => v.VersionId)
            .Select(v => new VersionProjection(v.VersionId, v.Description, v.CreatedOn, v.CreatedBy))
            .ToListAsync();
    }
}