$toast-colors:
    "success",
    "danger",
    "warning",
    "primary";

.toast {
    --bs-toast-bg: var(--bs-body-bg) !important;

    .feather {
        width: 18px;
        height: 18px;
    }
}

.toast .toast-header {
    --bs-toast-header-bg: var(--bs-body-bg);
}

@each $color in $toast-colors {
    .toast.toast-#{$color} {
        --bs-toast-header-color: var(--bs-#{$color}-text-emphasis);
        --bs-toast-header-border-color: var(--bs-#{$color}-border-subtle);
        --bs-toast-border-color: var(--bs-#{$color}-border-subtle);
        --bs-toast-bg: var(--bs-#{$color}-bg-subtle) !important;
        --bs-toast-color: var(--bs-#{$color}-text-emphasis);
        --bs-link-color: var(--bs-#{$color}-text-emphasis);
        --bs-link-hover-color: var(--bs-#{$color}-text-emphasis);

        .toast-header {
            --bs-toast-header-bg: var(--bs-#{$color}-bg-subtle) !important;
        }
    }
}

// Resizable table
.table-resizable th {
    position: relative;
}

.table-resizable .resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    cursor: col-resize;
    user-select: none;
}

.table-resizable .resizer:hover,
.table-resizable .resizing {
    border-right: 2px solid var(--bs-primary);
}