.toast {
  --bs-toast-bg: var(--bs-body-bg) !important;
}
.toast .feather {
  width: 18px;
  height: 18px;
}

.toast .toast-header {
  --bs-toast-header-bg: var(--bs-body-bg);
}

.toast.toast-success {
  --bs-toast-header-color: var(--bs-success-text-emphasis);
  --bs-toast-header-border-color: var(--bs-success-border-subtle);
  --bs-toast-border-color: var(--bs-success-border-subtle);
  --bs-toast-bg: var(--bs-success-bg-subtle) !important;
  --bs-toast-color: var(--bs-success-text-emphasis);
  --bs-link-color: var(--bs-success-text-emphasis);
  --bs-link-hover-color: var(--bs-success-text-emphasis);
}
.toast.toast-success .toast-header {
  --bs-toast-header-bg: var(--bs-success-bg-subtle) !important;
}

.toast.toast-danger {
  --bs-toast-header-color: var(--bs-danger-text-emphasis);
  --bs-toast-header-border-color: var(--bs-danger-border-subtle);
  --bs-toast-border-color: var(--bs-danger-border-subtle);
  --bs-toast-bg: var(--bs-danger-bg-subtle) !important;
  --bs-toast-color: var(--bs-danger-text-emphasis);
  --bs-link-color: var(--bs-danger-text-emphasis);
  --bs-link-hover-color: var(--bs-danger-text-emphasis);
}
.toast.toast-danger .toast-header {
  --bs-toast-header-bg: var(--bs-danger-bg-subtle) !important;
}

.toast.toast-warning {
  --bs-toast-header-color: var(--bs-warning-text-emphasis);
  --bs-toast-header-border-color: var(--bs-warning-border-subtle);
  --bs-toast-border-color: var(--bs-warning-border-subtle);
  --bs-toast-bg: var(--bs-warning-bg-subtle) !important;
  --bs-toast-color: var(--bs-warning-text-emphasis);
  --bs-link-color: var(--bs-warning-text-emphasis);
  --bs-link-hover-color: var(--bs-warning-text-emphasis);
}
.toast.toast-warning .toast-header {
  --bs-toast-header-bg: var(--bs-warning-bg-subtle) !important;
}

.toast.toast-primary {
  --bs-toast-header-color: var(--bs-primary-text-emphasis);
  --bs-toast-header-border-color: var(--bs-primary-border-subtle);
  --bs-toast-border-color: var(--bs-primary-border-subtle);
  --bs-toast-bg: var(--bs-primary-bg-subtle) !important;
  --bs-toast-color: var(--bs-primary-text-emphasis);
  --bs-link-color: var(--bs-primary-text-emphasis);
  --bs-link-hover-color: var(--bs-primary-text-emphasis);
}
.toast.toast-primary .toast-header {
  --bs-toast-header-bg: var(--bs-primary-bg-subtle) !important;
}

.table-resizable th {
  position: relative;
}

.table-resizable .resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  cursor: col-resize;
  user-select: none;
}

.table-resizable .resizer:hover,
.table-resizable .resizing {
  border-right: 2px solid var(--bs-primary);
}
