@implements IDisposable

@inject IDbContextFactory<AppDbContext> DbContextFactory

<HxModal @ref="_modal" Title="Edit retries" Size="ModalSize.Small">
    <BodyTemplate>
        <div class="row">
            <div class="col">
                @if (_steps is not null)
                {
                    <input class="form-control" type="number" placeholder="Retry attempts" min="0" @bind-value="RetryAttempts" />
                }
                else
                {
                    <HxSpinner Color="ThemeColor.Secondary" />
                }
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Success" OnClick="SubmitStepsAsync">
            Save
        </HxButton>
        <HxButton Color="ThemeColor.Secondary" Spinner="false" @onclick="CloseAsync">
            Cancel
        </HxButton>
    </FooterTemplate>
</HxModal>

@code {
    [Parameter] public IEnumerable<Step> SelectedSteps { get; set; } = [];

    [Parameter] public EventCallback<IEnumerable<Step>> OnStepsSubmit { get; set; }

    private HxModal? _modal;
    private AppDbContext? _context;
    private List<Step>? _steps;

    private int? RetryAttempts
    {
        get;
        set
        {
            if (value is null or >= 0)
            {
                field = value;
            }
        }
    }

    public async Task ShowAsync()
    {
        if (!SelectedSteps.Any())
        {
            return;
        }

        await _modal.LetAsync(x => x.ShowAsync());

        if (_context is not null)
        {
            await _context.DisposeAsync();
        }
        _context = await DbContextFactory.CreateDbContextAsync();
        var stepIds = SelectedSteps.Select(s => s.StepId).ToArray();
        _steps = await JobDetails.BuildStepsQueryWithIncludes(_context)
            .Where(s => stepIds.Contains(s.StepId))
            .ToListAsync();
    }

    private async Task CloseAsync()
    {
        RetryAttempts = null;
        await _modal.LetAsync(x => x.HideAsync());
    }

    private async Task SubmitStepsAsync()
    {
        ArgumentNullException.ThrowIfNull(_steps);
        ArgumentNullException.ThrowIfNull(_context);

        int retries;
        if (RetryAttempts is { } i)
        {
            retries = i;
        }
        else
        {
            return;
        }

        foreach (var step in _steps)
        {
            step.RetryAttempts = retries;
        }

        await _context.SaveChangesAsync();
        await OnStepsSubmit.InvokeAsync(_steps);
        await CloseAsync();
    }

    public void Dispose() => _context?.Dispose();
}
