@page
@model EtlManager.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<h3>Dashboard</h3>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h4>Avg. execution in seconds</h4>
            <canvas class="my-4 w-100" id="myChart1" width="900" height="380"></canvas>
        </div>
        <div class="col">
            <h4>Chart #2</h4>
            <div class="row mt-4">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1,001</td>
                            <td>Lorem</td>
                            <td>ipsum</td>
                            <td>dolor</td>
                            <td>sit</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>amet</td>
                            <td>consectetur</td>
                            <td>adipiscing</td>
                            <td>elit</td>
                        </tr>
                        <tr>
                            <td>1,003</td>
                            <td>Integer</td>
                            <td>nec</td>
                            <td>odio</td>
                            <td>Praesent</td>
                        </tr>
                        <tr>
                            <td>1,003</td>
                            <td>libero</td>
                            <td>Sed</td>
                            <td>cursus</td>
                            <td>ante</td>
                        </tr>
                        <tr>
                            <td>1,004</td>
                            <td>dapibus</td>
                            <td>diam</td>
                            <td>Sed</td>
                            <td>nisi</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Chart#3</h4>
            <canvas class="my-4 w-100" id="myChart3" width="900" height="380"></canvas>
        </div>
        <div class="col">
            <h4>Chart #4</h4>
            <canvas class="my-4 w-100" id="myChart4" width="900" height="380"></canvas>
        </div>
    </div>
</div>

@functions {
    public string GetDataSetString()
    {
        return string.Join(',',
            Model.Executions.Select(e =>
                "{label: '" + e.Key + "', fill: false, backgroundColor: stringToColour('" + e.Key + "'), borderColor: stringToColour('" + e.Key + "'), data: [" +
                    string.Join(',', e.Value.Select(v => @"{t: new Date(""" + v.Key.ToString("yyyy-M-d")?.Replace('.', ':') + @"""), y: " + v.Value + @"}")) +
                "]}")
            );
    }
}

@section Scripts {
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="~/lib/Chart.js/Chart.bundle.js"></script>
    <script type="text/javascript">

        var stringToColour = function (str) {
            var hash = 0;
            for (var i = 0; i < str.length; i++) {
                hash = str.charCodeAt(i) + ((hash << 5) - hash);
            }
            var colour = '#';
            for (var i = 0; i < 3; i++) {
                var value = (hash >> (i * 8)) & 0xFF;
                colour += ('00' + value.toString(16)).substr(-2);
            }
            return colour;
        }

        $(function () {

            var datasets = [
                    @Html.Raw(GetDataSetString())
               ];

            // CHART 1
            var ctx1 = document.getElementById('myChart1')
            var myChart1 = new Chart(ctx1, {
                type: 'line',
                data: {
                    datasets: datasets
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            type: 'time'
                        }]
                    }
                }
            })

            // CHART 3
            var ctx3 = document.getElementById('myChart3')
            var myChart3 = new Chart(ctx3, {
                type: 'bar',
                data: {
                    labels: [
                        'Sunday',
                        'Monday',
                        'Tuesday',
                        'Wednesday',
                        'Thursday',
                        'Friday',
                        'Saturday'
                    ],
                    datasets: [{
                        data: [
                            15339,
                            21345,
                            18483,
                            24003,
                            23489,
                            24092,
                            12034
                        ],
                        lineTension: 0,
                        backgroundColor: '#007bff',
                        borderColor: '#007bff',
                        borderWidth: 0,
                        pointBackgroundColor: '#007bff'
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }
            })

            var ctx4 = document.getElementById('myChart4')
            var myChart4 = new Chart(ctx4, {
                type: 'horizontalBar',
                data: {
                    labels: [
                        'Sunday',
                        'Monday',
                        'Tuesday',
                        'Wednesday',
                        'Thursday',
                        'Friday',
                        'Saturday'
                    ],
                    datasets: [{
                        data: [
                            12034,
                            24092,
                            23489,
                            24003,
                            18483,
                            21345,
                            15339
                        ],
                        lineTension: 0,
                        backgroundColor: '#007bff',
                        borderColor: '#007bff',
                        borderWidth: 4,
                        pointBackgroundColor: '#007bff'
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }
            })
        })
    </script>
}