@page
@model ExecutorManager.Pages.Jobs.Steps.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Step</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Step.JobId" class="control-label"></label>
                <input asp-for="Step.JobId" class="form-control" />
                <span asp-validation-for="Step.JobId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step.StepName" class="control-label"></label>
                <input asp-for="Step.StepName" class="form-control" />
                <span asp-validation-for="Step.StepName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step.ExecutionPhase" class="control-label"></label>
                <input asp-for="Step.ExecutionPhase" class="form-control" />
                <span asp-validation-for="Step.ExecutionPhase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step.StepType" class="control-label"></label>
                <input asp-for="Step.StepType" class="form-control" />
                <span asp-validation-for="Step.StepType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step.SqlStatement" class="control-label"></label>
                <input asp-for="Step.SqlStatement" class="form-control" />
                <span asp-validation-for="Step.SqlStatement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step.FolderName" class="control-label"></label>
                <input asp-for="Step.FolderName" class="form-control" />
                <span asp-validation-for="Step.FolderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step.ProjectName" class="control-label"></label>
                <input asp-for="Step.ProjectName" class="form-control" />
                <span asp-validation-for="Step.ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step.PackageName" class="control-label"></label>
                <input asp-for="Step.PackageName" class="form-control" />
                <span asp-validation-for="Step.PackageName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Step.ExecuteIn32BitMode" /> @Html.DisplayNameFor(model => model.Step.ExecuteIn32BitMode)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-id="@Model.Step.JobId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
