@page "/taginput"

@using Biflow.Ui.Components.Input

<PageTitle>Tag input</PageTitle>

<h1>Tag input</h1>

<StringTagInput Label="No custom values"
                Placeholder="Search for tags"
                Items="tags"
                SelectedItems="selected"
                AllowCustomValues="false"
                TagColorSelector="GetTagColor" />

<br />

<StringTagInput Label="Allow custom values"
                Placeholder="Search for tags"
                Items="tags2"
                SelectedItems="selected2"
                AllowCustomValues
                TagColorSelector="GetTagColor" />

<br />

<StringTagInput Label="Disabled"
                Placeholder="Search for tags"
                Items="tags2"
                SelectedItems="selected2"
                AllowCustomValues
                TagColorSelector="GetTagColor"
                IsDisabled />

<br />

<Biflow.Ui.Components.Input.TagInput Label="Tag type"
                                     Placeholder="Search for tags"
                                     Items="tags3"
                                     SelectedItems="selected3"
                                     AllowCustomValues
                                     NewItemFromText="text => new Tag(Guid.NewGuid(), text, TagColor.DarkGray, 0)" />

@code {
    private readonly List<string> tags = ["economy", "politics", "sports", "domestic", "abroad", "food", "health", "art"];

    private readonly List<string> tags2 = ["economy", "politics", "sports", "domestic", "abroad", "food", "health", "art"];

    private readonly List<string> selected = ["sports", "health"];

    private readonly List<string> selected2 = ["food", "art"];

    private static TagColor GetTagColor(string text) => text switch
    {
        "politics" => TagColor.Red,
        "sports" => TagColor.Green,
        "health" => TagColor.Blue,
        _ => TagColor.DarkGray
    };

    private readonly List<Tag> tags3 = Enum.GetValues<TagColor>()
        .Select(color => new Tag(Guid.NewGuid(), color.ToString().ToLower(), color, 0))
        .ToList();

    private readonly List<Tag> selected3 = [];
    
    private record Tag(Guid TagId, string TagName, TagColor Color, int SortOrder) : ITag;
}
