@page
@model ExecutorManager.Pages.Jobs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Job.JobId" />
            <div class="form-group">
                <label asp-for="Job.JobName" class="control-label"></label>
                <input asp-for="Job.JobName" class="form-control" />
                <span asp-validation-for="Job.JobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.CreatedDateTime" class="control-label"></label>
                <input asp-for="Job.CreatedDateTime" class="form-control" readonly />
                <span asp-validation-for="Job.CreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.LastModifiedDateTime" class="control-label"></label>
                <input asp-for="Job.LastModifiedDateTime" class="form-control" readonly />
                <span asp-validation-for="Job.LastModifiedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Job.UseDependencyMode" /> @Html.DisplayNameFor(model => model.Job.UseDependencyMode)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
